html, body {
  height: 100%;
  background-color: #FFF;
}

.particle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.3), 0 -28px 14px rgba(0, 0, 0, 0.1) inset, 0 42px 14px rgba(255, 255, 255, 0.1) inset;
  opacity: 0;
  animation: doit 2500ms infinite cubic-bezier(0.125, 0, 0.41, 0);
  animation-direction: reverse;
}

#particle1 {
  background: #f323ff;
  transform: translateX(135.51996px) translateY(99.0555px) scale(0.22995);
  animation-delay: -185ms;
}

#particle2 {
  background: #ff3abb;
  transform: translateX(55.11427px) translateY(-115.15508px) scale(0.38023);
  animation-delay: -1534ms;
}

#particle3 {
  background: #6503ff;
  transform: translateX(34.14288px) translateY(259.05582px) scale(0.02046);
  animation-delay: -475ms;
}

#particle4 {
  background: #a912ff;
  transform: translateX(120.86493px) translateY(-168.75712px) scale(0.11483);
  animation-delay: -1312ms;
}

#particle5 {
  background: #ff28f7;
  transform: translateX(-51.78382px) translateY(-149.37442px) scale(0.26356);
  animation-delay: -1448ms;
}

#particle6 {
  background: #5f02ff;
  transform: translateX(267.95239px) translateY(-23.4379px) scale(0.01317);
  animation-delay: -795ms;
}

#particle7 {
  background: #e11eff;
  transform: translateX(-142.60402px) translateY(105.43286px) scale(0.19923);
  animation-delay: -62ms;
}

#particle8 {
  background: #ff3bb9;
  transform: translateX(23.09429px) translateY(124.92395px) scale(0.3828);
  animation-delay: -2285ms;
}

#particle9 {
  background: #5e02ff;
  transform: translateX(-270.86503px) translateY(-11.50833px) scale(0.01142);
  animation-delay: -1110ms;
}

#particle10 {
  background: #ff5672;
  transform: translateX(-0.80006px) translateY(-86.32549px) scale(0.56322);
  animation-delay: -1930ms;
}

#particle11 {
  background: #ff4b8c;
  transform: translateX(67.66048px) translateY(-76.68066px) scale(0.48977);
  animation-delay: -557ms;
}

#particle12 {
  background: #ff4894;
  transform: translateX(14.12279px) translateY(105.92718px) scale(0.4692);
  animation-delay: -2022ms;
}

#particle13 {
  background: #ff2de6;
  transform: translateX(-32.12765px) translateY(-146.23642px) scale(0.29392);
  animation-delay: -295ms;
}

#particle14 {
  background: #ff966f;
  transform: translateX(-52.44929px) translateY(7.70419px) scale(0.72598);
  animation-delay: -1504ms;
}

#particle15 {
  background: #6c05ff;
  transform: translateX(-127.89328px) translateY(-218.23834px) scale(0.03019);
  animation-delay: -715ms;
}

#particle16 {
  background: #fa25ff;
  transform: translateX(-164.34967px) translateY(2.46819px) scale(0.24175);
  animation-delay: -348ms;
}

#particle17 {
  background: #de1eff;
  transform: translateX(-102.3943px) translateY(-146.26008px) scale(0.1955);
  animation-delay: -431ms;
}

#particle18 {
  background: #5801ff;
  transform: translateX(245.75948px) translateY(-139.39802px) scale(0.00418);
  animation-delay: -1309ms;
}

#particle19 {
  background: #ff40a8;
  transform: translateX(45.7448px) translateY(-108.90366px) scale(0.4202);
  animation-delay: -972ms;
}

#particle20 {
  background: #8109ff;
  transform: translateX(189.64853px) translateY(138.72937px) scale(0.05741);
  animation-delay: -385ms;
}

#particle21 {
  background: #ff876b;
  transform: translateX(-23.59946px) translateY(53.84684px) scale(0.69701);
  animation-delay: -656ms;
}

#particle22 {
  background: #7c08ff;
  transform: translateX(-170.54994px) translateY(-166.97006px) scale(0.05111);
  animation-delay: -2035ms;
}

#particle23 {
  background: #c117ff;
  transform: translateX(12.06687px) translateY(193.75942px) scale(0.14974);
  animation-delay: -2237ms;
}

#particle24 {
  background: #aa12ff;
  transform: translateX(187.16383px) translateY(88.96914px) scale(0.11566);
  animation-delay: -1929ms;
}

#particle25 {
  background: #5600ff;
  transform: translateX(178.84273px) translateY(227.16903px) scale(0.00162);
  animation-delay: -588ms;
}

#particle26 {
  background: #a010ff;
  transform: translateX(208.36205px) translateY(44.32247px) scale(0.10192);
  animation-delay: -780ms;
}

#particle27 {
  background: #5d02ff;
  transform: translateX(-239.48246px) translateY(-128.69171px) scale(0.01083);
  animation-delay: -1506ms;
}

#particle28 {
  background: #ffd887;
  transform: translateX(19.54781px) translateY(12.14987px) scale(0.87978);
  animation-delay: -1594ms;
}

#particle29 {
  background: #ff3db1;
  transform: translateX(-92.14143px) translateY(-81.29536px) scale(0.40009);
  animation-delay: -1323ms;
}

#particle30 {
  background: #ff40ab;
  transform: translateX(13.90993px) translateY(-118.48097px) scale(0.41521);
  animation-delay: -1149ms;
}

#particle31 {
  background: #5600ff;
  transform: translateX(-63.1955px) translateY(285.9084px) scale(0.00071);
  animation-delay: -2317ms;
}

#particle32 {
  background: #8109ff;
  transform: translateX(-232.11089px) translateY(31.5417px) scale(0.05869);
  animation-delay: -696ms;
}

#particle33 {
  background: #e41fff;
  transform: translateX(-22.11348px) translateY(174.07857px) scale(0.20513);
  animation-delay: -2427ms;
}

#particle34 {
  background: #5700ff;
  transform: translateX(0.53474px) translateY(287.5228px) scale(0.00213);
  animation-delay: -605ms;
}

#particle35 {
  background: #b614ff;
  transform: translateX(-155.79008px) translateY(125.49427px) scale(0.13385);
  animation-delay: -1255ms;
}

#particle36 {
  background: #ffec8f;
  transform: translateX(3.52794px) translateY(11.56256px) scale(0.93675);
  animation-delay: -1681ms;
}

#particle37 {
  background: #850aff;
  transform: translateX(-96.32279px) translateY(210.89932px) scale(0.06298);
  animation-delay: -568ms;
}

#particle38 {
  background: #b013ff;
  transform: translateX(-202.10538px) translateY(-27.56124px) scale(0.12375);
  animation-delay: -1062ms;
}

#particle39 {
  background: #6f05ff;
  transform: translateX(-62.87591px) translateY(-242.09231px) scale(0.03391);
  animation-delay: -1034ms;
}

#particle40 {
  background: #6503ff;
  transform: translateX(-128.42924px) translateY(-227.49607px) scale(0.02052);
  animation-delay: -1224ms;
}

#particle41 {
  background: #ff26ff;
  transform: translateX(-31.95271px) translateY(158.84206px) scale(0.24981);
  animation-delay: -2240ms;
}

#particle42 {
  background: #7a07ff;
  transform: translateX(-43.41961px) translateY(236.44843px) scale(0.0483);
  animation-delay: -2009ms;
}

#particle43 {
  background: #8e0cff;
  transform: translateX(-13.29362px) translateY(-224.8654px) scale(0.0756);
  animation-delay: -691ms;
}

#particle44 {
  background: #7506ff;
  transform: translateX(33.53378px) translateY(241.87085px) scale(0.0424);
  animation-delay: -1130ms;
}

#particle45 {
  background: #8009ff;
  transform: translateX(-36.51944px) translateY(232.61749px) scale(0.05655);
  animation-delay: -119ms;
}

#particle46 {
  background: #ff4d87;
  transform: translateX(-81.58158px) translateY(57.05667px) scale(0.50202);
  animation-delay: -2284ms;
}

#particle47 {
  background: #870aff;
  transform: translateX(-228.23715px) translateY(27.24052px) scale(0.06669);
  animation-delay: -1461ms;
}

#particle48 {
  background: #ff3bb9;
  transform: translateX(36.65216px) translateY(121.50171px) scale(0.38334);
  animation-delay: -507ms;
}

#particle49 {
  background: #ffd485;
  transform: translateX(25.24772px) translateY(1.58144px) scale(0.86793);
  animation-delay: -504ms;
}

#particle50 {
  background: #5700ff;
  transform: translateX(222.12204px) translateY(-178.89703px) scale(0.003);
  animation-delay: -2218ms;
}

#particle51 {
  background: #df1eff;
  transform: translateX(-50.02392px) translateY(171.19935px) scale(0.19607);
  animation-delay: -706ms;
}

#particle52 {
  background: #ff507f;
  transform: translateX(-88.44319px) translateY(-34.22631px) scale(0.5236);
  animation-delay: -1956ms;
}

#particle53 {
  background: #6d05ff;
  transform: translateX(-132.33244px) translateY(214.63399px) scale(0.03122);
  animation-delay: -1521ms;
}

#particle54 {
  background: #6203ff;
  transform: translateX(198.33209px) translateY(-174.76912px) scale(0.01737);
  animation-delay: -916ms;
}

#particle55 {
  background: #bf16ff;
  transform: translateX(195.1568px) translateY(-3.00935px) scale(0.14687);
  animation-delay: -910ms;
}

#particle56 {
  background: #da1dff;
  transform: translateX(86.35134px) translateY(159.09579px) scale(0.18786);
  animation-delay: -998ms;
}

#particle57 {
  background: #5700ff;
  transform: translateX(224.88793px) translateY(-175.83929px) scale(0.00289);
  animation-delay: -1803ms;
}

#particle58 {
  background: #c718ff;
  transform: translateX(175.85598px) translateY(73.50431px) scale(0.15962);
  animation-delay: -601ms;
}

#particle59 {
  background: #8309ff;
  transform: translateX(-226.70304px) translateY(-53.50093px) scale(0.06103);
  animation-delay: -1296ms;
}

#particle60 {
  background: #ff507f;
  transform: translateX(56.58457px) translateY(75.87963px) scale(0.52443);
  animation-delay: -2160ms;
}

#particle61 {
  background: #5500ff;
  transform: translateX(-187.97807px) translateY(-225.5536px) scale(0.00056);
  animation-delay: -265ms;
}

#particle62 {
  background: #ff5476;
  transform: translateX(-87.17492px) translateY(17.40167px) scale(0.55117);
  animation-delay: -273ms;
}

#particle63 {
  background: #d91dff;
  transform: translateX(-181.13697px) translateY(-5.66398px) scale(0.18723);
  animation-delay: -1697ms;
}

#particle64 {
  background: #ff5672;
  transform: translateX(-49.45089px) translateY(-70.61868px) scale(0.56377);
  animation-delay: -341ms;
}

#particle65 {
  background: #ff449e;
  transform: translateX(52.3134px) translateY(-99.73589px) scale(0.44389);
  animation-delay: -1127ms;
}

#particle66 {
  background: #a711ff;
  transform: translateX(-187.83686px) translateY(-91.49261px) scale(0.11154);
  animation-delay: -1316ms;
}

#particle67 {
  background: #5500ff;
  transform: translateX(59.16549px) translateY(-288.22464px) scale(0.00046);
  animation-delay: -1188ms;
}

#particle68 {
  background: #6303ff;
  transform: translateX(247.95481px) translateY(90.07962px) scale(0.0179);
  animation-delay: -599ms;
}

#particle69 {
  background: #ff5f60;
  transform: translateX(-55.53961px) translateY(-48.70117px) scale(0.6228);
  animation-delay: -1203ms;
}

#particle70 {
  background: #ff39be;
  transform: translateX(85.27383px) translateY(-97.46859px) scale(0.37269);
  animation-delay: -2116ms;
}

#particle71 {
  background: #cf1aff;
  transform: translateX(-171.01982px) translateY(-74.3401px) scale(0.17151);
  animation-delay: -1305ms;
}

#particle72 {
  background: #8209ff;
  transform: translateX(201.68342px) translateY(-118.78487px) scale(0.05901);
  animation-delay: -595ms;
}

#particle73 {
  background: #5600ff;
  transform: translateX(-287.76296px) translateY(-53.29506px) scale(0.00074);
  animation-delay: -469ms;
}

#particle74 {
  background: #ff28f7;
  transform: translateX(146.2728px) translateY(-60.29874px) scale(0.26314);
  animation-delay: -2216ms;
}

#particle75 {
  background: #a611ff;
  transform: translateX(66.03558px) translateY(199.11205px) scale(0.10952);
  animation-delay: -1321ms;
}

#particle76 {
  background: #ffce83;
  transform: translateX(-20.54922px) translateY(-19.14425px) scale(0.85348);
  animation-delay: -1412ms;
}

#particle77 {
  background: #6603ff;
  transform: translateX(178.54804px) translateY(-189.39136px) scale(0.02154);
  animation-delay: -49ms;
}

#particle78 {
  background: #5b01ff;
  transform: translateX(8.67233px) translateY(-275.79228px) scale(0.00793);
  animation-delay: -393ms;
}

#particle79 {
  background: #ff5575;
  transform: translateX(74.13502px) translateY(47.78657px) scale(0.55442);
  animation-delay: -1048ms;
}

#particle80 {
  background: #ff3db3;
  transform: translateX(-77.77988px) translateY(96.37452px) scale(0.39604);
  animation-delay: -2332ms;
}

#particle81 {
  background: #5901ff;
  transform: translateX(-264.88885px) translateY(89.9226px) scale(0.00562);
  animation-delay: -268ms;
}

#particle82 {
  background: #a110ff;
  transform: translateX(206.69px) translateY(49.66583px) scale(0.10296);
  animation-delay: -728ms;
}

#particle83 {
  background: #ff2bed;
  transform: translateX(60.09649px) translateY(140.94986px) scale(0.28105);
  animation-delay: -357ms;
}

#particle84 {
  background: #ff8169;
  transform: translateX(20.81071px) translateY(57.52371px) scale(0.68515);
  animation-delay: -582ms;
}

#particle85 {
  background: #ff596d;
  transform: translateX(81.50127px) translateY(-14.22003px) scale(0.58024);
  animation-delay: -1579ms;
}

#particle86 {
  background: #5600ff;
  transform: translateX(263.80591px) translateY(-125.01337px) scale(0.00089);
  animation-delay: -2250ms;
}

#particle87 {
  background: #5700ff;
  transform: translateX(234.58036px) translateY(165.5295px) scale(0.00228);
  animation-delay: -745ms;
}

#particle88 {
  background: #5600ff;
  transform: translateX(255.6597px) translateY(-136.14738px) scale(0.00147);
  animation-delay: -1394ms;
}

#particle89 {
  background: #5a01ff;
  transform: translateX(92.28151px) translateY(263.38788px) scale(0.00599);
  animation-delay: -891ms;
}

#particle90 {
  background: #c919ff;
  transform: translateX(174.35353px) translateY(75.14665px) scale(0.16173);
  animation-delay: -1998ms;
}

#particle91 {
  background: #5801ff;
  transform: translateX(271.82329px) translateY(-79.07384px) scale(0.00392);
  animation-delay: -975ms;
}

#particle92 {
  background: #6b04ff;
  transform: translateX(120.83462px) translateY(-223.50543px) scale(0.02877);
  animation-delay: -1742ms;
}

#particle93 {
  background: #5600ff;
  transform: translateX(-122.93531px) translateY(261.70739px) scale(0.00162);
  animation-delay: -909ms;
}

#particle94 {
  background: #fe26ff;
  transform: translateX(-109.43068px) translateY(-120.22329px) scale(0.24792);
  animation-delay: -946ms;
}

#particle95 {
  background: #920cff;
  transform: translateX(-99.48224px) translateY(-198.79212px) scale(0.08163);
  animation-delay: -2122ms;
}

#particle96 {
  background: #e51fff;
  transform: translateX(-88.84637px) translateY(-151.12684px) scale(0.20566);
  animation-delay: -333ms;
}

#particle97 {
  background: #ff29f3;
  transform: translateX(32.48567px) translateY(152.6083px) scale(0.27093);
  animation-delay: -103ms;
}

#particle98 {
  background: #930dff;
  transform: translateX(40.16952px) translateY(-218.3633px) scale(0.08219);
  animation-delay: -859ms;
}

#particle99 {
  background: #ff2ee2;
  transform: translateX(119.84439px) translateY(-86.36991px) scale(0.30137);
  animation-delay: -306ms;
}

#particle100 {
  background: #7c08ff;
  transform: translateX(77.30959px) translateY(225.8723px) scale(0.05101);
  animation-delay: -1739ms;
}

#particle101 {
  background: #ff7365;
  transform: translateX(-34.62619px) translateY(56.75505px) scale(0.65888);
  animation-delay: -1754ms;
}

#particle102 {
  background: #5500ff;
  transform: translateX(297.2421px) translateY(-10.1545px) scale(0.00009);
  animation-delay: -396ms;
}

#particle103 {
  background: #ff2de6;
  transform: translateX(-99.78912px) translateY(111.62091px) scale(0.29392);
  animation-delay: -2026ms;
}

#particle104 {
  background: #ff39be;
  transform: translateX(60.10906px) translateY(-114.69119px) scale(0.37276);
  animation-delay: -2193ms;
}

#particle105 {
  background: #890bff;
  transform: translateX(-213.52449px) translateY(81.68383px) scale(0.06904);
  animation-delay: -221ms;
}

#particle106 {
  background: #7106ff;
  transform: translateX(-64.61974px) translateY(-239.76957px) scale(0.03638);
  animation-delay: -1259ms;
}

#particle107 {
  background: #8b0bff;
  transform: translateX(-183.91652px) translateY(-133.50844px) scale(0.07165);
  animation-delay: -1111ms;
}

#particle108 {
  background: #5f02ff;
  transform: translateX(-75.38461px) translateY(-258.05874px) scale(0.01328);
  animation-delay: -156ms;
}

#particle109 {
  background: #6804ff;
  transform: translateX(-226.84664px) translateY(120.78699px) scale(0.02524);
  animation-delay: -1207ms;
}

#particle110 {
  background: #7b08ff;
  transform: translateX(-118.75841px) translateY(208.00822px) scale(0.04972);
  animation-delay: -1255ms;
}

#particle111 {
  background: #c117ff;
  transform: translateX(-28.27629px) translateY(191.78127px) scale(0.15051);
  animation-delay: -1836ms;
}

#particle112 {
  background: #b214ff;
  transform: translateX(-125.12306px) translateY(-158.92518px) scale(0.12809);
  animation-delay: -1939ms;
}

#particle113 {
  background: #b314ff;
  transform: translateX(69.04683px) translateY(190.09679px) scale(0.12815);
  animation-delay: -1369ms;
}

#particle114 {
  background: #ffb579;
  transform: translateX(25.74185px) translateY(-30.50476px) scale(0.79253);
  animation-delay: -1800ms;
}

#particle115 {
  background: #f323ff;
  transform: translateX(155.93365px) translateY(-62.57759px) scale(0.22941);
  animation-delay: -947ms;
}

#particle116 {
  background: #950dff;
  transform: translateX(9.4964px) translateY(220.11975px) scale(0.08576);
  animation-delay: -1897ms;
}

#particle117 {
  background: #ff34cf;
  transform: translateX(-23.16529px) translateY(136.11179px) scale(0.33842);
  animation-delay: -1371ms;
}

#particle118 {
  background: #a611ff;
  transform: translateX(208.13159px) translateY(26.83804px) scale(0.10934);
  animation-delay: -2315ms;
}

#particle119 {
  background: #840aff;
  transform: translateX(-231.40999px) translateY(19.90165px) scale(0.06224);
  animation-delay: -440ms;
}

#particle120 {
  background: #ff517d;
  transform: translateX(-75.59613px) translateY(54.4405px) scale(0.53134);
  animation-delay: -1253ms;
}

#particle121 {
  background: #d71cff;
  transform: translateX(178.72915px) translateY(-34.6965px) scale(0.18467);
  animation-delay: -662ms;
}

#particle122 {
  background: #f223ff;
  transform: translateX(-28.88643px) translateY(165.88714px) scale(0.22821);
  animation-delay: -1434ms;
}

#particle123 {
  background: #c919ff;
  transform: translateX(-160.4107px) translateY(-100.96331px) scale(0.16265);
  animation-delay: -428ms;
}

#particle124 {
  background: #ae13ff;
  transform: translateX(-149.5527px) translateY(-139.5947px) scale(0.12224);
  animation-delay: -1583ms;
}

#particle125 {
  background: #ff2bed;
  transform: translateX(105.67411px) translateY(-110.84751px) scale(0.28134);
  animation-delay: -18ms;
}

#particle126 {
  background: #5e02ff;
  transform: translateX(191.65671px) translateY(190.99794px) scale(0.01184);
  animation-delay: -251ms;
}

#particle127 {
  background: #5700ff;
  transform: translateX(-188.97299px) translateY(-215.98651px) scale(0.00232);
  animation-delay: -989ms;
}

#particle128 {
  background: #5500ff;
  transform: translateX(-24.0784px) translateY(-293.99212px) scale(0.00035);
  animation-delay: -969ms;
}

#particle129 {
  background: #c618ff;
  transform: translateX(-104.1505px) translateY(160.6973px) scale(0.15709);
  animation-delay: -1271ms;
}

#particle130 {
  background: #7406ff;
  transform: translateX(240.68457px) translateY(47.16966px) scale(0.04079);
  animation-delay: -1358ms;
}

#particle131 {
  background: #5500ff;
  transform: translateX(-188.91302px) translateY(229.1646px) scale(0.00012);
  animation-delay: -786ms;
}

#particle132 {
  background: #6603ff;
  transform: translateX(192.74863px) translateY(-175.1643px) scale(0.02136);
  animation-delay: -125ms;
}

#particle133 {
  background: #a310ff;
  transform: translateX(-209.93428px) translateY(-24.45287px) scale(0.1058);
  animation-delay: -792ms;
}

#particle134 {
  background: #8009ff;
  transform: translateX(188.98002px) translateY(140.53941px) scale(0.05647);
  animation-delay: -354ms;
}

#particle135 {
  background: #ff7c67;
  transform: translateX(-44.54425px) translateY(44.49222px) scale(0.67629);
  animation-delay: -482ms;
}

#particle136 {
  background: #5500ff;
  transform: translateX(-117.68312px) translateY(275.74898px) scale(0.0);
  animation-delay: -1445ms;
}

#particle137 {
  background: #5700ff;
  transform: translateX(93.52995px) translateY(-270.00267px) scale(0.00278);
  animation-delay: -230ms;
}

#particle138 {
  background: #7306ff;
  transform: translateX(2.83663px) translateY(-246.01845px) scale(0.03966);
  animation-delay: -2137ms;
}

#particle139 {
  background: #ff3cb5;
  transform: translateX(-13.47236px) translateY(-124.07491px) scale(0.39205);
  animation-delay: -580ms;
}

#particle140 {
  background: #6403ff;
  transform: translateX(-217.37628px) translateY(-147.75672px) scale(0.01887);
  animation-delay: -389ms;
}

#particle141 {
  background: #ff507f;
  transform: translateX(30.10533px) translateY(-89.71653px) scale(0.52453);
  animation-delay: -283ms;
}

#particle142 {
  background: #ff3abd;
  transform: translateX(24.53785px) translateY(-126.37431px) scale(0.37584);
  animation-delay: -1171ms;
}

#particle143 {
  background: #ffea8e;
  transform: translateX(13.19199px) translateY(-1.07852px) scale(0.93075);
  animation-delay: -2193ms;
}

#particle144 {
  background: #5500ff;
  transform: translateX(-295.50604px) translateY(44.30774px) scale(0.00002);
  animation-delay: -1341ms;
}

#particle145 {
  background: #5801ff;
  transform: translateX(-211.68958px) translateY(-187.54626px) scale(0.00404);
  animation-delay: -192ms;
}

#particle146 {
  background: #8109ff;
  transform: translateX(150.12077px) translateY(-180.37301px) scale(0.05793);
  animation-delay: -2101ms;
}

#particle147 {
  background: #5500ff;
  transform: translateX(170.98833px) translateY(238.45357px) scale(0.00059);
  animation-delay: -1023ms;
}

#particle148 {
  background: #ff3cb6;
  transform: translateX(-1.12822px) translateY(125.03911px) scale(0.39105);
  animation-delay: -1116ms;
}

#particle149 {
  background: #5801ff;
  transform: translateX(279.84697px) translateY(-34.19412px) scale(0.00447);
  animation-delay: -1897ms;
}

#particle150 {
  background: #a711ff;
  transform: translateX(29.72798px) translateY(207.01447px) scale(0.11105);
  animation-delay: -356ms;
}

#particle151 {
  background: #6503ff;
  transform: translateX(-96.25305px) translateY(243.01377px) scale(0.02037);
  animation-delay: -2038ms;
}

#particle152 {
  background: #7e08ff;
  transform: translateX(-196.94773px) translateY(-132.39608px) scale(0.05339);
  animation-delay: -1462ms;
}

#particle153 {
  background: #ab12ff;
  transform: translateX(206.57363px) translateY(6.80237px) scale(0.11701);
  animation-delay: -1750ms;
}

#particle154 {
  background: #5a01ff;
  transform: translateX(-0.14367px) translateY(-278.84336px) scale(0.00613);
  animation-delay: -2371ms;
}

#particle155 {
  background: #ff2ce9;
  transform: translateX(-141.63412px) translateY(52.03634px) scale(0.2896);
  animation-delay: -1976ms;
}

#particle156 {
  background: #ff3fad;
  transform: translateX(-49.13433px) translateY(109.80127px) scale(0.41097);
  animation-delay: -377ms;
}

#particle157 {
  background: #fd26ff;
  transform: translateX(-26.71897px) translateY(-160.69504px) scale(0.24678);
  animation-delay: -188ms;
}

#particle158 {
  background: #ff517d;
  transform: translateX(51.20353px) translateY(78.15416px) scale(0.53006);
  animation-delay: -469ms;
}

#particle159 {
  background: #6704ff;
  transform: translateX(-224.4584px) translateY(-127.96901px) scale(0.02366);
  animation-delay: -631ms;
}

#particle160 {
  background: #5b01ff;
  transform: translateX(-276.361px) translateY(-4.5099px) scale(0.00763);
  animation-delay: -625ms;
}

#particle161 {
  background: #ff28f9;
  transform: translateX(-149.74632px) translateY(-53.13634px) scale(0.26074);
  animation-delay: -1953ms;
}

#particle162 {
  background: #ff26fe;
  transform: translateX(-56.83101px) translateY(151.32988px) scale(0.2511);
  animation-delay: -143ms;
}

#particle163 {
  background: #df1eff;
  transform: translateX(57.78566px) translateY(168.30865px) scale(0.19733);
  animation-delay: -1970ms;
}

#particle164 {
  background: #5c01ff;
  transform: translateX(32.75401px) translateY(271.56104px) scale(0.00959);
  animation-delay: -1883ms;
}

#particle165 {
  background: #f022ff;
  transform: translateX(157.41521px) translateY(62.17183px) scale(0.22534);
  animation-delay: -2463ms;
}

#particle166 {
  background: #5801ff;
  transform: translateX(-193.77383px) translateY(-206.2209px) scale(0.00397);
  animation-delay: -1308ms;
}

#particle167 {
  background: #ff29f4;
  transform: translateX(46.51801px) translateY(149.27468px) scale(0.26976);
  animation-delay: -1263ms;
}

#particle168 {
  background: #6002ff;
  transform: translateX(-152.19676px) translateY(220.43832px) scale(0.01411);
  animation-delay: -429ms;
}

#particle169 {
  background: #5500ff;
  transform: translateX(-220.39839px) translateY(194.07118px) scale(0.00055);
  animation-delay: -1728ms;
}

#particle170 {
  background: #880aff;
  transform: translateX(-12.49423px) translateY(-229.2618px) scale(0.06717);
  animation-delay: -539ms;
}

#particle171 {
  background: #8f0cff;
  transform: translateX(25.18106px) translateY(222.91082px) scale(0.07747);
  animation-delay: -1777ms;
}

#particle172 {
  background: #ff3cb7;
  transform: translateX(-103.85672px) translateY(-70.49418px) scale(0.38907);
  animation-delay: -437ms;
}

#particle173 {
  background: #5a01ff;
  transform: translateX(263.69976px) translateY(-89.53926px) scale(0.00634);
  animation-delay: -2166ms;
}

#particle174 {
  background: #bc16ff;
  transform: translateX(-1.59397px) translateY(196.65344px) scale(0.14285);
  animation-delay: -582ms;
}

#particle175 {
  background: #ff2ee1;
  transform: translateX(116.8162px) translateY(-89.50607px) scale(0.30347);
  animation-delay: -86ms;
}

#particle176 {
  background: #8009ff;
  transform: translateX(-134.87417px) translateY(192.50498px) scale(0.05727);
  animation-delay: -1278ms;
}

#particle177 {
  background: #d61cff;
  transform: translateX(-165.30907px) translateY(78.67463px) scale(0.18162);
  animation-delay: -1749ms;
}

#particle178 {
  background: #b915ff;
  transform: translateX(-163.6064px) translateY(112.61569px) scale(0.13761);
  animation-delay: -1495ms;
}

#particle179 {
  background: #ff5575;
  transform: translateX(38.90297px) translateY(79.01337px) scale(0.55503);
  animation-delay: -882ms;
}

#particle180 {
  background: #5801ff;
  transform: translateX(-283.20347px) translateY(-3.58038px) scale(0.00385);
  animation-delay: -1186ms;
}

#particle181 {
  background: #7306ff;
  transform: translateX(-53.06223px) translateY(-240.75254px) scale(0.03893);
  animation-delay: -152ms;
}

#particle182 {
  background: #860aff;
  transform: translateX(-177.96968px) translateY(-146.76845px) scale(0.06515);
  animation-delay: -161ms;
}

#particle183 {
  background: #6503ff;
  transform: translateX(-99.86859px) translateY(241.55042px) scale(0.02037);
  animation-delay: -817ms;
}

#particle184 {
  background: #6303ff;
  transform: translateX(-164.47052px) translateY(205.68445px) scale(0.01835);
  animation-delay: -2476ms;
}

#particle185 {
  background: #7707ff;
  transform: translateX(74.37843px) translateY(230.76192px) scale(0.04505);
  animation-delay: -157ms;
}

#particle186 {
  background: #ff5c66;
  transform: translateX(-15.05171px) translateY(76.35936px) scale(0.60368);
  animation-delay: -1056ms;
}

#particle187 {
  background: #6c04ff;
  transform: translateX(241.80794px) translateY(-76.7597px) scale(0.02924);
  animation-delay: -2238ms;
}

#particle188 {
  background: #dc1dff;
  transform: translateX(176.08462px) translateY(-36.63271px) scale(0.19143);
  animation-delay: -1792ms;
}

#particle189 {
  background: #f624ff;
  transform: translateX(11.8748px) translateY(166.27571px) scale(0.23385);
  animation-delay: -561ms;
}

#particle190 {
  background: #ff33d1;
  transform: translateX(79.45954px) translateY(113.9765px) scale(0.335);
  animation-delay: -866ms;
}

#particle191 {
  background: #6e05ff;
  transform: translateX(-232.93227px) translateY(93.48633px) scale(0.03274);
  animation-delay: -1835ms;
}

#particle192 {
  background: #ffc780;
  transform: translateX(29.68334px) translateY(10.86291px) scale(0.83525);
  animation-delay: -1922ms;
}

#particle193 {
  background: #a210ff;
  transform: translateX(-173.78034px) translateY(-121.84311px) scale(0.10373);
  animation-delay: -1386ms;
}

#particle194 {
  background: #ff6b63;
  transform: translateX(1.03438px) translateY(-69.28208px) scale(0.64511);
  animation-delay: -1492ms;
}

#particle195 {
  background: #7f09ff;
  transform: translateX(-234.26068px) translateY(-28.89591px) scale(0.05556);
  animation-delay: -655ms;
}

#particle196 {
  background: #8a0bff;
  transform: translateX(-169.913px) translateY(152.38892px) scale(0.06976);
  animation-delay: -1993ms;
}

#particle197 {
  background: #5700ff;
  transform: translateX(-239.20003px) translateY(157.22834px) scale(0.00259);
  animation-delay: -2199ms;
}

#particle198 {
  background: #5700ff;
  transform: translateX(69.51757px) translateY(277.59261px) scale(0.00262);
  animation-delay: -963ms;
}

#particle199 {
  background: #d41bff;
  transform: translateX(183.01245px) translateY(-18.94401px) scale(0.17888);
  animation-delay: -2432ms;
}

#particle200 {
  background: #5a01ff;
  transform: translateX(-41.10112px) translateY(274.51972px) scale(0.00688);
  animation-delay: -1158ms;
}

#particle201 {
  background: #ff31d7;
  transform: translateX(-27.314px) translateY(-139.44479px) scale(0.32276);
  animation-delay: -138ms;
}

#particle202 {
  background: #ffb178;
  transform: translateX(-27.42428px) translateY(-31.23073px) scale(0.78409);
  animation-delay: -2165ms;
}

#particle203 {
  background: #d71cff;
  transform: translateX(-57.24838px) translateY(-173.25039px) scale(0.18347);
  animation-delay: -2209ms;
}

#particle204 {
  background: #7406ff;
  transform: translateX(240.39742px) translateY(51.05648px) scale(0.04006);
  animation-delay: -1826ms;
}

#particle205 {
  background: #b113ff;
  transform: translateX(-33.05549px) translateY(200.56437px) scale(0.12554);
  animation-delay: -1175ms;
}

#particle206 {
  background: #aa12ff;
  transform: translateX(178.70192px) translateY(-104.42849px) scale(0.11629);
  animation-delay: -592ms;
}

#particle207 {
  background: #ff43a2;
  transform: translateX(-65.89781px) translateY(-93.74557px) scale(0.43537);
  animation-delay: -794ms;
}

#particle208 {
  background: #a310ff;
  transform: translateX(66.95808px) translateY(-200.38809px) scale(0.10597);
  animation-delay: -2399ms;
}

#particle209 {
  background: #b213ff;
  transform: translateX(-163.92304px) translateY(119.44834px) scale(0.12667);
  animation-delay: -2435ms;
}

#particle210 {
  background: #e41fff;
  transform: translateX(-47.42834px) translateY(169.02155px) scale(0.2049);
  animation-delay: -933ms;
}

#particle211 {
  background: #5e02ff;
  transform: translateX(237.78784px) translateY(130.12442px) scale(0.01146);
  animation-delay: -1007ms;
}

#particle212 {
  background: #6102ff;
  transform: translateX(-104.45319px) translateY(-244.60878px) scale(0.01583);
  animation-delay: -2444ms;
}

#particle213 {
  background: #d01aff;
  transform: translateX(-137.51529px) translateY(-125.55005px) scale(0.17231);
  animation-delay: -1945ms;
}

#particle214 {
  background: #5901ff;
  transform: translateX(211.27865px) translateY(-185.69229px) scale(0.0048);
  animation-delay: -476ms;
}

#particle215 {
  background: #6a04ff;
  transform: translateX(245.56988px) translateY(71.74639px) scale(0.02662);
  animation-delay: -135ms;
}

#particle216 {
  background: #5600ff;
  transform: translateX(148.49306px) translateY(251.65791px) scale(0.00083);
  animation-delay: -2356ms;
}

#particle217 {
  background: #ff4d87;
  transform: translateX(52.90584px) translateY(83.90947px) scale(0.50365);
  animation-delay: -101ms;
}

#particle218 {
  background: #ff9970;
  transform: translateX(47.60706px) translateY(20.73224px) scale(0.73146);
  animation-delay: -2318ms;
}

#particle219 {
  background: #6703ff;
  transform: translateX(135.15633px) translateY(-221.10354px) scale(0.0228);
  animation-delay: -2033ms;
}

#particle220 {
  background: #7c08ff;
  transform: translateX(202.30405px) translateY(127.20878px) scale(0.05062);
  animation-delay: -653ms;
}

#particle221 {
  background: #fe26ff;
  transform: translateX(160.6773px) translateY(-23.79863px) scale(0.2484);
  animation-delay: -515ms;
}

#particle222 {
  background: #e620ff;
  transform: translateX(-174.13253px) translateY(-13.88839px) scale(0.20765);
  animation-delay: -255ms;
}

#particle223 {
  background: #5500ff;
  transform: translateX(33.3859px) translateY(293.70608px) scale(0.00027);
  animation-delay: -670ms;
}

#particle224 {
  background: #5f02ff;
  transform: translateX(-10.76531px) translateY(269.50608px) scale(0.01254);
  animation-delay: -1464ms;
}

#particle225 {
  background: #be16ff;
  transform: translateX(185.00884px) translateY(-64.5477px) scale(0.14478);
  animation-delay: -605ms;
}

#particle226 {
  background: #7d08ff;
  transform: translateX(61.66589px) translateY(-229.6707px) scale(0.05256);
  animation-delay: -603ms;
}

#particle227 {
  background: #6503ff;
  transform: translateX(259.1672px) translateY(34.28016px) scale(0.02033);
  animation-delay: -2453ms;
}

#particle228 {
  background: #ffbc7c;
  transform: translateX(34.77833px) translateY(-11.98473px) scale(0.80858);
  animation-delay: -2047ms;
}

#particle229 {
  background: #5600ff;
  transform: translateX(7.80666px) translateY(292.27606px) scale(0.0008);
  animation-delay: -2490ms;
}

#particle230 {
  background: #ff3db1;
  transform: translateX(-90.76579px) translateY(-82.25233px) scale(0.40172);
  animation-delay: -1876ms;
}

#particle231 {
  background: #ff4b8b;
  transform: translateX(53.51874px) translateY(-86.62689px) scale(0.49174);
  animation-delay: -843ms;
}

#particle232 {
  background: #940dff;
  transform: translateX(-110.84368px) translateY(190.88108px) scale(0.08491);
  animation-delay: -1547ms;
}

#particle233 {
  background: #ff4894;
  transform: translateX(51.86312px) translateY(93.25454px) scale(0.46991);
  animation-delay: -121ms;
}

#particle234 {
  background: #5500ff;
  transform: translateX(46.96508px) translateY(-293.70643px) scale(0.00009);
  animation-delay: -2255ms;
}

#particle235 {
  background: #ff28f7;
  transform: translateX(-125.52556px) translateY(-95.65339px) scale(0.26455);
  animation-delay: -1836ms;
}

#particle236 {
  background: #e51fff;
  transform: translateX(152.69267px) translateY(86.16476px) scale(0.20561);
  animation-delay: -679ms;
}

#particle237 {
  background: #ffab76;
  transform: translateX(-42.00842px) translateY(-14.18246px) scale(0.76993);
  animation-delay: -2111ms;
}

#particle238 {
  background: #ff40aa;
  transform: translateX(-48.2403px) translateY(-108.51949px) scale(0.41749);
  animation-delay: -2329ms;
}

#particle239 {
  background: #b715ff;
  transform: translateX(-175.86723px) translateY(-94.60766px) scale(0.13476);
  animation-delay: -231ms;
}

#particle240 {
  background: #5901ff;
  transform: translateX(-260.82594px) translateY(100.65733px) scale(0.00571);
  animation-delay: -1274ms;
}

#particle241 {
  background: #5f02ff;
  transform: translateX(-170.24441px) translateY(209.15552px) scale(0.01257);
  animation-delay: -1313ms;
}

#particle242 {
  background: #d71cff;
  transform: translateX(126.38008px) translateY(-131.67472px) scale(0.18333);
  animation-delay: -323ms;
}

#particle243 {
  background: #f423ff;
  transform: translateX(161.17887px) translateY(-44.9481px) scale(0.23173);
  animation-delay: -528ms;
}

#particle244 {
  background: #7106ff;
  transform: translateX(-160.48453px) translateY(189.43571px) scale(0.03645);
  animation-delay: -2292ms;
}

#particle245 {
  background: #5801ff;
  transform: translateX(-173.31153px) translateY(223.05832px) scale(0.00421);
  animation-delay: -1470ms;
}

#particle246 {
  background: #cb19ff;
  transform: translateX(-188.03531px) translateY(14.65843px) scale(0.16533);
  animation-delay: -377ms;
}

#particle247 {
  background: #ff5e62;
  transform: translateX(47.65812px) translateY(-57.96011px) scale(0.61713);
  animation-delay: -2244ms;
}

#particle248 {
  background: #de1eff;
  transform: translateX(-177.90257px) translateY(-16.98141px) scale(0.19497);
  animation-delay: -2201ms;
}

#particle249 {
  background: #5e02ff;
  transform: translateX(-268.77492px) translateY(34.16865px) scale(0.01156);
  animation-delay: -1541ms;
}

#particle250 {
  background: #ff6060;
  transform: translateX(53.81718px) translateY(-49.52905px) scale(0.62633);
  animation-delay: -806ms;
}

#particle251 {
  background: #ff517d;
  transform: translateX(62.78194px) translateY(-68.70623px) scale(0.53174);
  animation-delay: -688ms;
}

#particle252 {
  background: #860aff;
  transform: translateX(-227.6679px) translateY(-38.7431px) scale(0.06467);
  animation-delay: -708ms;
}

#particle253 {
  background: #6d05ff;
  transform: translateX(-228.24627px) translateY(-107.22067px) scale(0.03119);
  animation-delay: -27ms;
}

#particle254 {
  background: #ff41a7;
  transform: translateX(108.48975px) translateY(44.08497px) scale(0.42455);
  animation-delay: -2450ms;
}

#particle255 {
  background: #dc1dff;
  transform: translateX(59.63066px) translateY(169.47961px) scale(0.19202);
  animation-delay: -1555ms;
}

#particle256 {
  background: #ffb87a;
  transform: translateX(-15.61849px) translateY(-35.16986px) scale(0.79987);
  animation-delay: -507ms;
}

#particle257 {
  background: #5c01ff;
  transform: translateX(-248.44361px) translateY(-114.98866px) scale(0.00942);
  animation-delay: -1188ms;
}

#particle258 {
  background: #ff30da;
  transform: translateX(-136.50418px) translateY(44.84365px) scale(0.31667);
  animation-delay: -420ms;
}

#particle259 {
  background: #7e08ff;
  transform: translateX(-196.75349px) translateY(131.94267px) scale(0.05409);
  animation-delay: -1413ms;
}

#particle260 {
  background: #5801ff;
  transform: translateX(-278.22379px) translateY(58.63906px) scale(0.00336);
  animation-delay: -741ms;
}

#particle261 {
  background: #ff4796;
  transform: translateX(-77.44381px) translateY(-75.42472px) scale(0.46371);
  animation-delay: -2143ms;
}

#particle262 {
  background: #5a01ff;
  transform: translateX(-267.32802px) translateY(78.37866px) scale(0.00628);
  animation-delay: -1971ms;
}

#particle263 {
  background: #6e05ff;
  transform: translateX(-191.42258px) translateY(162.23594px) scale(0.03283);
  animation-delay: -1535ms;
}

#particle264 {
  background: #ff3cb5;
  transform: translateX(110.33017px) translateY(57.68128px) scale(0.39332);
  animation-delay: -1958ms;
}

#particle265 {
  background: #b915ff;
  transform: translateX(-23.5728px) translateY(196.87609px) scale(0.13851);
  animation-delay: -408ms;
}

#particle266 {
  background: #f825ff;
  transform: translateX(-80.9428px) translateY(144.05357px) scale(0.23879);
  animation-delay: -53ms;
}

#particle267 {
  background: #ad12ff;
  transform: translateX(162.40107px) translateY(125.91726px) scale(0.11994);
  animation-delay: -1423ms;
}

#particle268 {
  background: #af13ff;
  transform: translateX(-150.86136px) translateY(137.6289px) scale(0.12317);
  animation-delay: -1139ms;
}

#particle269 {
  background: #ffce83;
  transform: translateX(18.78839px) translateY(20.86943px) scale(0.8535);
  animation-delay: -1824ms;
}

#particle270 {
  background: #ff3bb9;
  transform: translateX(125.44111px) translateY(-18.67631px) scale(0.38369);
  animation-delay: -1161ms;
}

#particle271 {
  background: #6203ff;
  transform: translateX(230.74707px) translateY(130.10016px) scale(0.01684);
  animation-delay: -544ms;
}

#particle272 {
  background: #5600ff;
  transform: translateX(-262.14693px) translateY(-120.75354px) scale(0.00177);
  animation-delay: -1502ms;
}

#particle273 {
  background: #ff37c5;
  transform: translateX(29.58293px) translateY(-129.6349px) scale(0.35868);
  animation-delay: -1973ms;
}

#particle274 {
  background: #5f02ff;
  transform: translateX(266.60712px) translateY(37.93185px) scale(0.0129);
  animation-delay: -1442ms;
}

#particle275 {
  background: #ff2fde;
  transform: translateX(-90.00227px) translateY(114.14963px) scale(0.31027);
  animation-delay: -2316ms;
}

#particle276 {
  background: #ff439f;
  transform: translateX(48.15108px) translateY(-102.54692px) scale(0.441);
  animation-delay: -324ms;
}

#particle277 {
  background: #6603ff;
  transform: translateX(-253.04798px) translateY(61.50868px) scale(0.0214);
  animation-delay: -442ms;
}

#particle278 {
  background: #ff449e;
  transform: translateX(-81.27112px) translateY(77.3836px) scale(0.44565);
  animation-delay: -2499ms;
}

#particle279 {
  background: #6002ff;
  transform: translateX(215.70757px) translateY(158.15824px) scale(0.01446);
  animation-delay: -417ms;
}

#particle280 {
  background: #ff37c5;
  transform: translateX(82.91086px) translateY(103.71651px) scale(0.35942);
  animation-delay: -366ms;
}

#particle281 {
  background: #ff37c4;
  transform: translateX(131.08536px) translateY(20.69688px) scale(0.35972);
  animation-delay: -1925ms;
}

#particle282 {
  background: #a711ff;
  transform: translateX(-174.89871px) translateY(-114.88698px) scale(0.11077);
  animation-delay: -451ms;
}

#particle283 {
  background: #7c08ff;
  transform: translateX(237.71898px) translateY(-19.31167px) scale(0.0514);
  animation-delay: -92ms;
}

#particle284 {
  background: #ffb178;
  transform: translateX(32.29567px) translateY(-26.24797px) scale(0.78381);
  animation-delay: -107ms;
}

#particle285 {
  background: #5f02ff;
  transform: translateX(111.90175px) translateY(-245.39296px) scale(0.01256);
  animation-delay: -107ms;
}

#particle286 {
  background: #5500ff;
  transform: translateX(-90.53757px) translateY(-281.76305px) scale(0.00022);
  animation-delay: -2312ms;
}

#particle287 {
  background: #900cff;
  transform: translateX(213.38086px) translateY(68.28963px) scale(0.07805);
  animation-delay: -103ms;
}

#particle288 {
  background: #b314ff;
  transform: translateX(-195.08567px) translateY(51.95437px) scale(0.12908);
  animation-delay: -1211ms;
}

#particle289 {
  background: #5901ff;
  transform: translateX(7.95395px) translateY(-281.1135px) scale(0.00483);
  animation-delay: -2028ms;
}

#particle290 {
  background: #ad12ff;
  transform: translateX(-134.22598px) translateY(-155.59187px) scale(0.11997);
  animation-delay: -2088ms;
}

#particle291 {
  background: #5f02ff;
  transform: translateX(-151.46844px) translateY(-222.96643px) scale(0.01268);
  animation-delay: -743ms;
}

#particle292 {
  background: #c117ff;
  transform: translateX(-59.06159px) translateY(184.83051px) scale(0.15);
  animation-delay: -1207ms;
}

#particle293 {
  background: #5700ff;
  transform: translateX(248.42307px) translateY(-144.1662px) scale(0.00224);
  animation-delay: -35ms;
}

#particle294 {
  background: #6e05ff;
  transform: translateX(-141.38195px) translateY(208.17506px) scale(0.03188);
  animation-delay: -582ms;
}

#particle295 {
  background: #ff41a6;
  transform: translateX(-116.71907px) translateY(-7.7668px) scale(0.42509);
  animation-delay: -1283ms;
}

#particle296 {
  background: #5500ff;
  transform: translateX(-219.02291px) translateY(-195.17109px) scale(0.0006);
  animation-delay: -1838ms;
}

#particle297 {
  background: #a711ff;
  transform: translateX(205.96669px) translateY(-36.42988px) scale(0.11099);
  animation-delay: -1870ms;
}

#particle298 {
  background: #ff2ee4;
  transform: translateX(-147.99972px) translateY(-12.78256px) scale(0.29828);
  animation-delay: -946ms;
}

#particle299 {
  background: #e31fff;
  transform: translateX(8.57817px) translateY(-175.72785px) scale(0.20367);
  animation-delay: -1608ms;
}

#particle300 {
  background: #c518ff;
  transform: translateX(3.72193px) translateY(-192.11485px) scale(0.15525);
  animation-delay: -1206ms;
}

#particle301 {
  background: #e31fff;
  transform: translateX(110.4987px) translateY(137.05097px) scale(0.20332);
  animation-delay: -448ms;
}

#particle302 {
  background: #6202ff;
  transform: translateX(-225.24764px) translateY(-140.7978px) scale(0.01615);
  animation-delay: -984ms;
}

#particle303 {
  background: #ff4d87;
  transform: translateX(-65.6721px) translateY(-74.78635px) scale(0.50214);
  animation-delay: -1489ms;
}

#particle304 {
  background: #7306ff;
  transform: translateX(-40.50599px) translateY(243.43423px) scale(0.03857);
  animation-delay: -727ms;
}

#particle305 {
  background: #880aff;
  transform: translateX(208.48085px) translateY(-95.81572px) scale(0.06747);
  animation-delay: -300ms;
}

#particle306 {
  background: #5700ff;
  transform: translateX(157.62325px) translateY(-238.97232px) scale(0.00258);
  animation-delay: -446ms;
}

#particle307 {
  background: #5e02ff;
  transform: translateX(187.82129px) translateY(194.26788px) scale(0.01214);
  animation-delay: -672ms;
}

#particle308 {
  background: #5d02ff;
  transform: translateX(133.91377px) translateY(-237.79022px) scale(0.01005);
  animation-delay: -908ms;
}

#particle309 {
  background: #f123ff;
  transform: translateX(-162.46832px) translateY(-45.82632px) scale(0.2268);
  animation-delay: -2136ms;
}

#particle310 {
  background: #ff8069;
  transform: translateX(-7.27245px) translateY(-60.94916px) scale(0.68411);
  animation-delay: -1263ms;
}

#particle311 {
  background: #ff35ca;
  transform: translateX(-135.13715px) translateY(-9.7372px) scale(0.34861);
  animation-delay: -1214ms;
}

#particle312 {
  background: #ff3abb;
  transform: translateX(-60.69872px) translateY(112.40319px) scale(0.3799);
  animation-delay: -21ms;
}

#particle313 {
  background: #ac12ff;
  transform: translateX(-53.75199px) translateY(198.78382px) scale(0.11889);
  animation-delay: -1580ms;
}

#particle314 {
  background: #c418ff;
  transform: translateX(52.30574px) translateY(-184.99049px) scale(0.15499);
  animation-delay: -1864ms;
}

#particle315 {
  background: #ff4c8a;
  transform: translateX(-95.59498px) translateY(-32.65635px) scale(0.49539);
  animation-delay: -2353ms;
}

#particle316 {
  background: #e11fff;
  transform: translateX(32.39439px) translateY(-174.11685px) scale(0.19999);
  animation-delay: -866ms;
}

#particle317 {
  background: #5c01ff;
  transform: translateX(274.43965px) translateY(-16.12226px) scale(0.00861);
  animation-delay: -741ms;
}

#particle318 {
  background: #d61cff;
  transform: translateX(181.33018px) translateY(24.44152px) scale(0.18194);
  animation-delay: -77ms;
}

#particle319 {
  background: #d51cff;
  transform: translateX(-182.15282px) translateY(19.93379px) scale(0.18113);
  animation-delay: -1146ms;
}

#particle320 {
  background: #6603ff;
  transform: translateX(-210.59317px) translateY(-151.39745px) scale(0.02255);
  animation-delay: -2270ms;
}

#particle321 {
  background: #ff2ee2;
  transform: translateX(-145.15782px) translateY(26.32678px) scale(0.30211);
  animation-delay: -477ms;
}

#particle322 {
  background: #5600ff;
  transform: translateX(-138.47921px) translateY(-254.08548px) scale(0.00155);
  animation-delay: -2186ms;
}

#particle323 {
  background: #5600ff;
  transform: translateX(58.88742px) translateY(-282.3104px) scale(0.00185);
  animation-delay: -2296ms;
}

#particle324 {
  background: #860aff;
  transform: translateX(-230.49506px) translateY(12.41183px) scale(0.06487);
  animation-delay: -345ms;
}

#particle325 {
  background: #ff33d0;
  transform: translateX(138.63996px) translateY(-1.70134px) scale(0.33614);
  animation-delay: -1308ms;
}

#particle326 {
  background: #ff5476;
  transform: translateX(40.31421px) translateY(-79.00325px) scale(0.55211);
  animation-delay: -2314ms;
}

#particle327 {
  background: #b414ff;
  transform: translateX(7.48017px) translateY(-201.38072px) scale(0.13002);
  animation-delay: -1693ms;
}

#particle328 {
  background: #fd26ff;
  transform: translateX(66.41126px) translateY(148.65826px) scale(0.24706);
  animation-delay: -1297ms;
}

#particle329 {
  background: #bc16ff;
  transform: translateX(-150.45234px) translateY(126.59429px) scale(0.14294);
  animation-delay: -54ms;
}

#particle330 {
  background: #5600ff;
  transform: translateX(-284.95989px) translateY(53.52443px) scale(0.00139);
  animation-delay: -1950ms;
}

#particle331 {
  background: #c919ff;
  transform: translateX(49.92966px) translateY(183.28105px) scale(0.16144);
  animation-delay: -2372ms;
}

#particle332 {
  background: #ff3fac;
  transform: translateX(39.25286px) translateY(-113.51592px) scale(0.41174);
  animation-delay: -896ms;
}

#particle333 {
  background: #ff966f;
  transform: translateX(9.27719px) translateY(-52.07153px) scale(0.72659);
  animation-delay: -2289ms;
}

#particle334 {
  background: #5e02ff;
  transform: translateX(-7.5588px) translateY(270.81913px) scale(0.01157);
  animation-delay: -1931ms;
}

#particle335 {
  background: #8009ff;
  transform: translateX(-198.69257px) translateY(126.69387px) scale(0.05623);
  animation-delay: -575ms;
}

#particle336 {
  background: #cd1aff;
  transform: translateX(-120.94434px) translateY(-143.44645px) scale(0.16816);
  animation-delay: -1342ms;
}

#particle337 {
  background: #880aff;
  transform: translateX(197.44336px) translateY(-116.47651px) scale(0.06785);
  animation-delay: -468ms;
}

#particle338 {
  background: #7d08ff;
  transform: translateX(100.59757px) translateY(-215.64178px) scale(0.05231);
  animation-delay: -2189ms;
}

#particle339 {
  background: #5500ff;
  transform: translateX(297.51613px) translateY(-15.1773px) scale(0.00006);
  animation-delay: -957ms;
}

#particle340 {
  background: #5901ff;
  transform: translateX(162.51875px) translateY(-228.45904px) scale(0.00528);
  animation-delay: -1404ms;
}

#particle341 {
  background: #e41fff;
  transform: translateX(-110.65777px) translateY(136.41304px) scale(0.20457);
  animation-delay: -37ms;
}

#particle342 {
  background: #5901ff;
  transform: translateX(194.14796px) translateY(203.3634px) scale(0.00486);
  animation-delay: -1184ms;
}

#particle343 {
  background: #6c05ff;
  transform: translateX(10.62877px) translateY(-252.55795px) scale(0.03041);
  animation-delay: -807ms;
}

#particle344 {
  background: #5600ff;
  transform: translateX(44.75596px) translateY(287.93842px) scale(0.00101);
  animation-delay: -910ms;
}

#particle345 {
  background: #8309ff;
  transform: translateX(-224.95786px) translateY(61.32735px) scale(0.0606);
  animation-delay: -214ms;
}

#particle346 {
  background: #c819ff;
  transform: translateX(-29.14627px) translateY(188.01123px) scale(0.1606);
  animation-delay: -2450ms;
}

#particle347 {
  background: #6804ff;
  transform: translateX(-219.32477px) translateY(135.48333px) scale(0.02432);
  animation-delay: -635ms;
}

#particle348 {
  background: #5b01ff;
  transform: translateX(-64.24508px) translateY(-268.30544px) scale(0.00796);
  animation-delay: -1271ms;
}

#particle349 {
  background: #5600ff;
  transform: translateX(-47.9701px) translateY(-287.50011px) scale(0.001);
  animation-delay: -1066ms;
}

#particle350 {
  background: #5600ff;
  transform: translateX(292.96544px) translateY(-0.52093px) scale(0.00068);
  animation-delay: -1308ms;
}

#particle351 {
  background: #6c05ff;
  transform: translateX(-147.29845px) translateY(-206.18707px) scale(0.02962);
  animation-delay: -2130ms;
}

#particle352 {
  background: #f022ff;
  transform: translateX(-53.89225px) translateY(160.44989px) scale(0.2253);
  animation-delay: -1287ms;
}

#particle353 {
  background: #6b04ff;
  transform: translateX(2.46131px) translateY(-254.03168px) scale(0.02881);
  animation-delay: -180ms;
}

#particle354 {
  background: #8309ff;
  transform: translateX(27.0343px) translateY(231.881px) scale(0.0601);
  animation-delay: -1455ms;
}

#particle355 {
  background: #6f05ff;
  transform: translateX(-209.56941px) translateY(136.89361px) scale(0.03364);
  animation-delay: -546ms;
}

#particle356 {
  background: #5d02ff;
  transform: translateX(101.9367px) translateY(253.45739px) scale(0.00984);
  animation-delay: -2335ms;
}

#particle357 {
  background: #ff27fa;
  transform: translateX(-28.66072px) translateY(157.08752px) scale(0.25797);
  animation-delay: -505ms;
}

#particle358 {
  background: #ff3bb9;
  transform: translateX(118.3639px) translateY(-45.16848px) scale(0.38424);
  animation-delay: -244ms;
}

#particle359 {
  background: #7306ff;
  transform: translateX(-232.03856px) translateY(-83.41717px) scale(0.03887);
  animation-delay: -2076ms;
}

#particle360 {
  background: #ff5d64;
  transform: translateX(66.15448px) translateY(-38.22627px) scale(0.61053);
  animation-delay: -1684ms;
}

#particle361 {
  background: #cb19ff;
  transform: translateX(188.26681px) translateY(-7.40295px) scale(0.16589);
  animation-delay: -2367ms;
}

#particle362 {
  background: #ff3bb8;
  transform: translateX(-7.93493px) translateY(126.19808px) scale(0.38524);
  animation-delay: -142ms;
}

#particle363 {
  background: #ff5477;
  transform: translateX(66.10499px) translateY(60.33186px) scale(0.54836);
  animation-delay: -452ms;
}

#particle364 {
  background: #e51fff;
  transform: translateX(130.83263px) translateY(116.65711px) scale(0.20573);
  animation-delay: -1053ms;
}

#particle365 {
  background: #f223ff;
  transform: translateX(-30.66797px) translateY(-165.84559px) scale(0.2273);
  animation-delay: -1712ms;
}

#particle366 {
  background: #ff3abd;
  transform: translateX(-125.50845px) translateY(-28.37093px) scale(0.37609);
  animation-delay: -679ms;
}

#particle367 {
  background: #5600ff;
  transform: translateX(-262.23084px) translateY(-123.53938px) scale(0.00141);
  animation-delay: -1446ms;
}

#particle368 {
  background: #5600ff;
  transform: translateX(257.56621px) translateY(-138.47829px) scale(0.00078);
  animation-delay: -194ms;
}

#particle369 {
  background: #ff28f8;
  transform: translateX(8.27808px) translateY(-158.32323px) scale(0.26199);
  animation-delay: -1782ms;
}

#particle370 {
  background: #5d02ff;
  transform: translateX(-65.57745px) translateY(263.83504px) scale(0.01083);
  animation-delay: -1768ms;
}

#particle371 {
  background: #ff8e6d;
  transform: translateX(26.7914px) translateY(49.34559px) scale(0.71022);
  animation-delay: -522ms;
}

#particle372 {
  background: #df1eff;
  transform: translateX(-144.5191px) translateY(104.09463px) scale(0.19685);
  animation-delay: -1631ms;
}

#particle373 {
  background: #cf1aff;
  transform: translateX(-145.51009px) translateY(116.73477px) scale(0.17131);
  animation-delay: -2259ms;
}

#particle374 {
  background: #6002ff;
  transform: translateX(47.1253px) translateY(262.97624px) scale(0.01474);
  animation-delay: -535ms;
}

#particle375 {
  background: #980eff;
  transform: translateX(135.86456px) translateY(-171.02439px) scale(0.08984);
  animation-delay: -1715ms;
}

#particle376 {
  background: #7306ff;
  transform: translateX(133.01026px) translateY(-206.86822px) scale(0.03979);
  animation-delay: -864ms;
}

#particle377 {
  background: #ff43a2;
  transform: translateX(-61.05173px) translateY(-96.85326px) scale(0.4358);
  animation-delay: -1998ms;
}

#particle378 {
  background: #ff5a6a;
  transform: translateX(49.03587px) translateY(-64.01187px) scale(0.59023);
  animation-delay: -924ms;
}

#particle379 {
  background: #6804ff;
  transform: translateX(64.68146px) translateY(249.49522px) scale(0.02438);
  animation-delay: -1229ms;
}

#particle380 {
  background: #6d05ff;
  transform: translateX(-247.20305px) translateY(-47.19997px) scale(0.03185);
  animation-delay: -1994ms;
}

#particle381 {
  background: #5e02ff;
  transform: translateX(270.58994px) translateY(-5.98386px) scale(0.01178);
  animation-delay: -1052ms;
}

#particle382 {
  background: #ff3bb9;
  transform: translateX(-126.02628px) translateY(-12.55484px) scale(0.38441);
  animation-delay: -1609ms;
}

#particle383 {
  background: #5d02ff;
  transform: translateX(-233.16965px) translateY(141.53581px) scale(0.01015);
  animation-delay: -884ms;
}

#particle384 {
  background: #ff8f6d;
  transform: translateX(14.53769px) translateY(-53.89719px) scale(0.71185);
  animation-delay: -2266ms;
}

#particle385 {
  background: #ff31d7;
  transform: translateX(4.71995px) translateY(-142.0328px) scale(0.3227);
  animation-delay: -1245ms;
}

#particle386 {
  background: #cd1aff;
  transform: translateX(-60.17234px) translateY(-177.9388px) scale(0.16755);
  animation-delay: -970ms;
}

#particle387 {
  background: #ff507f;
  transform: translateX(-37.6195px) translateY(-86.70624px) scale(0.52507);
  animation-delay: -2430ms;
}

#particle388 {
  background: #db1dff;
  transform: translateX(162.0016px) translateY(79.18714px) scale(0.19);
  animation-delay: -1369ms;
}

#particle389 {
  background: #eb21ff;
  transform: translateX(142.39095px) translateY(96.85644px) scale(0.21562);
  animation-delay: -158ms;
}

#particle390 {
  background: #f524ff;
  transform: translateX(-44.97095px) translateY(-160.6171px) scale(0.23353);
  animation-delay: -1501ms;
}

#particle391 {
  background: #ff4f82;
  transform: translateX(27.41378px) translateY(92.22455px) scale(0.51727);
  animation-delay: -2253ms;
}

#particle392 {
  background: #5b01ff;
  transform: translateX(255.37286px) translateY(107.65046px) scale(0.00716);
  animation-delay: -118ms;
}

#particle393 {
  background: #b013ff;
  transform: translateX(203.45353px) translateY(7.1834px) scale(0.12475);
  animation-delay: -1699ms;
}

#particle394 {
  background: #7907ff;
  transform: translateX(-157.25194px) translateY(182.24602px) scale(0.0478);
  animation-delay: -587ms;
}

#particle395 {
  background: #5a01ff;
  transform: translateX(192.13349px) translateY(201.91777px) scale(0.0062);
  animation-delay: -2218ms;
}

#particle396 {
  background: #5901ff;
  transform: translateX(-271.10227px) translateY(75.74392px) scale(0.0047);
  animation-delay: -1192ms;
}

#particle397 {
  background: #e920ff;
  transform: translateX(-152.35971px) translateY(-82.51191px) scale(0.2122);
  animation-delay: -2170ms;
}

#particle398 {
  background: #6603ff;
  transform: translateX(-234.86709px) translateY(111.27082px) scale(0.02197);
  animation-delay: -1753ms;
}

#particle399 {
  background: #6b04ff;
  transform: translateX(233.06816px) translateY(-100.50138px) scale(0.0291);
  animation-delay: -246ms;
}

#particle400 {
  background: #a711ff;
  transform: translateX(177.30916px) translateY(-110.49958px) scale(0.11157);
  animation-delay: -1149ms;
}

#particle401 {
  background: #b214ff;
  transform: translateX(-129.68748px) translateY(-155.36087px) scale(0.12782);
  animation-delay: -146ms;
}

#particle402 {
  background: #6603ff;
  transform: translateX(-260.23594px) translateY(6.90015px) scale(0.0215);
  animation-delay: -1834ms;
}

#particle403 {
  background: #6102ff;
  transform: translateX(1.48127px) translateY(-265.78237px) scale(0.016);
  animation-delay: -2479ms;
}

#particle404 {
  background: #9f0fff;
  transform: translateX(53.43986px) translateY(-207.3393px) scale(0.09942);
  animation-delay: -1345ms;
}

#particle405 {
  background: #ff28fa;
  transform: translateX(-121.65815px) translateY(103.10471px) scale(0.25871);
  animation-delay: -1197ms;
}

#particle406 {
  background: #7106ff;
  transform: translateX(-176.80768px) translateY(174.36287px) scale(0.03639);
  animation-delay: -838ms;
}

#particle407 {
  background: #ff4797;
  transform: translateX(104.99497px) translateY(27.79726px) scale(0.46147);
  animation-delay: -2468ms;
}

#particle408 {
  background: #bc16ff;
  transform: translateX(-112.78957px) translateY(-161.14964px) scale(0.14274);
  animation-delay: -1155ms;
}

#particle409 {
  background: #7306ff;
  transform: translateX(218.66865px) translateY(-114.07473px) scale(0.03878);
  animation-delay: -2325ms;
}

#particle410 {
  background: #7707ff;
  transform: translateX(166.65589px) translateY(176.71246px) scale(0.04436);
  animation-delay: -1718ms;
}

#particle411 {
  background: #6603ff;
  transform: translateX(-258.51458px) translateY(22.42743px) scale(0.02242);
  animation-delay: -1025ms;
}

#particle412 {
  background: #990eff;
  transform: translateX(-106.24281px) translateY(190.39428px) scale(0.0907);
  animation-delay: -1817ms;
}

#particle413 {
  background: #ff38c2;
  transform: translateX(-71.39807px) translateY(-110.08971px) scale(0.36575);
  animation-delay: -2478ms;
}

#particle414 {
  background: #6e05ff;
  transform: translateX(-199.89945px) translateY(151.34561px) scale(0.03309);
  animation-delay: -1811ms;
}

#particle415 {
  background: #960dff;
  transform: translateX(153.45675px) translateY(-157.02297px) scale(0.0874);
  animation-delay: -2035ms;
}

#particle416 {
  background: #f624ff;
  transform: translateX(99.41425px) translateY(133.67473px) scale(0.23421);
  animation-delay: -1103ms;
}

#particle417 {
  background: #ff2af3;
  transform: translateX(58.40015px) translateY(144.38637px) scale(0.27193);
  animation-delay: -699ms;
}

#particle418 {
  background: #6102ff;
  transform: translateX(-64.49169px) translateY(-258.52288px) scale(0.01539);
  animation-delay: -2273ms;
}

#particle419 {
  background: #5e02ff;
  transform: translateX(-40.10755px) translateY(267.32148px) scale(0.01206);
  animation-delay: -1033ms;
}

#particle420 {
  background: #5801ff;
  transform: translateX(-200.87827px) translateY(-200.16264px) scale(0.00369);
  animation-delay: -1261ms;
}

#particle421 {
  background: #6d05ff;
  transform: translateX(88.86423px) translateY(-235.65138px) scale(0.03161);
  animation-delay: -2253ms;
}

#particle422 {
  background: #8d0bff;
  transform: translateX(58.6303px) translateY(-218.23344px) scale(0.07418);
  animation-delay: -1529ms;
}

#particle423 {
  background: #7206ff;
  transform: translateX(221.67604px) translateY(-110.36172px) scale(0.03736);
  animation-delay: -271ms;
}

#particle424 {
  background: #f724ff;
  transform: translateX(-124.99984px) translateY(108.90654px) scale(0.23692);
  animation-delay: -918ms;
}

#particle425 {
  background: #7506ff;
  transform: translateX(-150.34619px) translateY(192.40085px) scale(0.04241);
  animation-delay: -1857ms;
}

#particle426 {
  background: #ff43a2;
  transform: translateX(108.99555px) translateY(-35.23998px) scale(0.43553);
  animation-delay: -1730ms;
}

#particle427 {
  background: #6904ff;
  transform: translateX(132.6712px) translateY(219.7938px) scale(0.02555);
  animation-delay: -1135ms;
}

#particle428 {
  background: #c117ff;
  transform: translateX(147.60116px) translateY(-125.95107px) scale(0.15001);
  animation-delay: -1805ms;
}

#particle429 {
  background: #ff3eb0;
  transform: translateX(13.13709px) translateY(-121.17878px) scale(0.40424);
  animation-delay: -1233ms;
}

#particle430 {
  background: #900cff;
  transform: translateX(151.65197px) translateY(-164.29004px) scale(0.07898);
  animation-delay: -2401ms;
}

#particle431 {
  background: #900cff;
  transform: translateX(-159.29065px) translateY(-157.171px) scale(0.07859);
  animation-delay: -2268ms;
}

#particle432 {
  background: #6e05ff;
  transform: translateX(-244.5937px) translateY(56.54967px) scale(0.03267);
  animation-delay: -1826ms;
}

#particle433 {
  background: #6303ff;
  transform: translateX(55.13556px) translateY(258.36518px) scale(0.01753);
  animation-delay: -90ms;
}

#particle434 {
  background: #ff35cc;
  transform: translateX(-122.21941px) translateY(-61.26259px) scale(0.34375);
  animation-delay: -208ms;
}

#particle435 {
  background: #ffc27e;
  transform: translateX(-18.97627px) translateY(-28.29327px) scale(0.82257);
  animation-delay: -1439ms;
}

#particle436 {
  background: #7206ff;
  transform: translateX(-133.88388px) translateY(-208.15507px) scale(0.03755);
  animation-delay: -1653ms;
}

#particle437 {
  background: #ff4b8c;
  transform: translateX(-76.11697px) translateY(-68.68108px) scale(0.48861);
  animation-delay: -113ms;
}

#particle438 {
  background: #6804ff;
  transform: translateX(135.68893px) translateY(-218.83872px) scale(0.02467);
  animation-delay: -509ms;
}

#particle439 {
  background: #ed21ff;
  transform: translateX(165.85621px) translateY(-42.49245px) scale(0.21887);
  animation-delay: -2320ms;
}

#particle440 {
  background: #5a01ff;
  transform: translateX(-86.83846px) translateY(-263.47085px) scale(0.00699);
  animation-delay: -788ms;
}

#particle441 {
  background: #9b0eff;
  transform: translateX(-184.04715px) translateY(-114.29292px) scale(0.09373);
  animation-delay: -678ms;
}

#particle442 {
  background: #8b0bff;
  transform: translateX(-84.22034px) translateY(-210.96771px) scale(0.07186);
  animation-delay: -2259ms;
}

#particle443 {
  background: #6d05ff;
  transform: translateX(149.60988px) translateY(-203.03034px) scale(0.03116);
  animation-delay: -1795ms;
}

#particle444 {
  background: #ff459a;
  transform: translateX(-105.8821px) translateY(-31.04243px) scale(0.45387);
  animation-delay: -1524ms;
}

#particle445 {
  background: #ff37c3;
  transform: translateX(99.25026px) translateY(86.98242px) scale(0.36269);
  animation-delay: -87ms;
}

#particle446 {
  background: #5801ff;
  transform: translateX(-198.77754px) translateY(201.65335px) scale(0.00389);
  animation-delay: -1063ms;
}

#particle447 {
  background: #5700ff;
  transform: translateX(-104.49566px) translateY(264.90286px) scale(0.00318);
  animation-delay: -1518ms;
}

#particle448 {
  background: #ff459b;
  transform: translateX(-57.94919px) translateY(-94.22661px) scale(0.45264);
  animation-delay: -196ms;
}

#particle449 {
  background: #ff30db;
  transform: translateX(59.36075px) translateY(131.07184px) scale(0.31588);
  animation-delay: -1435ms;
}

#particle450 {
  background: #5500ff;
  transform: translateX(-274.55667px) translateY(-112.54053px) scale(0.00015);
  animation-delay: -182ms;
}

#particle451 {
  background: #5c01ff;
  transform: translateX(-246.4853px) translateY(-119.24228px) scale(0.00939);
  animation-delay: -293ms;
}

#particle452 {
  background: #860aff;
  transform: translateX(199.90215px) translateY(-115.56545px) scale(0.06474);
  animation-delay: -2069ms;
}

#particle453 {
  background: #ff3db2;
  transform: translateX(105.82642px) translateY(-62.71847px) scale(0.39951);
  animation-delay: -1625ms;
}

#particle454 {
  background: #b915ff;
  transform: translateX(161.43756px) translateY(115.34506px) scale(0.13817);
  animation-delay: -2219ms;
}

#particle455 {
  background: #f925ff;
  transform: translateX(-61.47761px) translateY(-153.20103px) scale(0.23934);
  animation-delay: -1112ms;
}

#particle456 {
  background: #5700ff;
  transform: translateX(142.72622px) translateY(-247.16364px) scale(0.00292);
  animation-delay: -2121ms;
}

#particle457 {
  background: #5d02ff;
  transform: translateX(-258.00013px) translateY(-85.44529px) scale(0.0109);
  animation-delay: -1708ms;
}

#particle458 {
  background: #b514ff;
  transform: translateX(-163.47068px) translateY(116.47685px) scale(0.13209);
  animation-delay: -2475ms;
}

#particle459 {
  background: #7106ff;
  transform: translateX(77.17834px) translateY(-236.14139px) scale(0.03623);
  animation-delay: -1985ms;
}

#particle460 {
  background: #860aff;
  transform: translateX(-152.56359px) translateY(-173.36978px) scale(0.06467);
  animation-delay: -1682ms;
}

#particle461 {
  background: #6804ff;
  transform: translateX(23.88183px) translateY(256.25175px) scale(0.02482);
  animation-delay: -536ms;
}

#particle462 {
  background: #980eff;
  transform: translateX(-147.64387px) translateY(160.74452px) scale(0.0902);
  animation-delay: -410ms;
}

#particle463 {
  background: #f925ff;
  transform: translateX(148.54787px) translateY(-71.24555px) scale(0.24045);
  animation-delay: -661ms;
}

#particle464 {
  background: #9c0fff;
  transform: translateX(72.97901px) translateY(-202.93903px) scale(0.09593);
  animation-delay: -1454ms;
}

#particle465 {
  background: #5801ff;
  transform: translateX(214.45471px) translateY(186.35667px) scale(0.00346);
  animation-delay: -1847ms;
}

#particle466 {
  background: #e21fff;
  transform: translateX(8.27221px) translateY(-176.37742px) scale(0.20167);
  animation-delay: -46ms;
}

#particle467 {
  background: #6c05ff;
  transform: translateX(249.98498px) translateY(38.06877px) scale(0.0303);
  animation-delay: -492ms;
}

#particle468 {
  background: #ff507f;
  transform: translateX(45.17927px) translateY(-82.75381px) scale(0.52614);
  animation-delay: -2496ms;
}

#particle469 {
  background: #9d0fff;
  transform: translateX(163.3554px) translateY(140.27483px) scale(0.0967);
  animation-delay: -1164ms;
}

#particle470 {
  background: #db1dff;
  transform: translateX(137.31009px) translateY(117.12477px) scale(0.18951);
  animation-delay: -1515ms;
}

#particle471 {
  background: #6f05ff;
  transform: translateX(82.18791px) translateY(236.44355px) scale(0.03364);
  animation-delay: -2234ms;
}

#particle472 {
  background: #ff3bb9;
  transform: translateX(125.06679px) translateY(-19.77239px) scale(0.38453);
  animation-delay: -2422ms;
}

#particle473 {
  background: #5700ff;
  transform: translateX(15.89549px) translateY(287.38584px) scale(0.00203);
  animation-delay: -164ms;
}

#particle474 {
  background: #a310ff;
  transform: translateX(210.45416px) translateY(-21.94094px) scale(0.10523);
  animation-delay: -1734ms;
}

#particle475 {
  background: #5801ff;
  transform: translateX(281.71667px) translateY(-21.4237px) scale(0.00418);
  animation-delay: -2056ms;
}

#particle476 {
  background: #6804ff;
  transform: translateX(-256.85627px) translateY(17.24914px) scale(0.02473);
  animation-delay: -1790ms;
}

#particle477 {
  background: #ff27fe;
  transform: translateX(157.15273px) translateY(-36.01841px) scale(0.25257);
  animation-delay: -1853ms;
}

#particle478 {
  background: #c718ff;
  transform: translateX(188.29184px) translateY(-30.90403px) scale(0.15902);
  animation-delay: -878ms;
}

#particle479 {
  background: #5801ff;
  transform: translateX(-274.90623px) translateY(64.2151px) scale(0.00429);
  animation-delay: -832ms;
}

#particle480 {
  background: #5e02ff;
  transform: translateX(155.49228px) translateY(222.18547px) scale(0.01136);
  animation-delay: -2488ms;
}

#particle481 {
  background: #8409ff;
  transform: translateX(-135.13924px) translateY(-189.11647px) scale(0.06192);
  animation-delay: -1381ms;
}

#particle482 {
  background: #ff7465;
  transform: translateX(63.70203px) translateY(-17.84793px) scale(0.6605);
  animation-delay: -1407ms;
}

#particle483 {
  background: #5801ff;
  transform: translateX(165.16333px) translateY(-230.7188px) scale(0.00362);
  animation-delay: -372ms;
}

#particle484 {
  background: #5700ff;
  transform: translateX(276.59303px) translateY(-75.096px) scale(0.00246);
  animation-delay: -465ms;
}

#particle485 {
  background: #ff29f6;
  transform: translateX(-157.47696px) translateY(-3.58245px) scale(0.26561);
  animation-delay: -1010ms;
}

#particle486 {
  background: #5500ff;
  transform: translateX(219.68682px) translateY(-200.07885px) scale(0.00011);
  animation-delay: -2106ms;
}

#particle487 {
  background: #ff40a9;
  transform: translateX(-116.9134px) translateY(19.94397px) scale(0.41815);
  animation-delay: -1075ms;
}

#particle488 {
  background: #cf1aff;
  transform: translateX(67.87697px) translateY(-173.83934px) scale(0.1711);
  animation-delay: -734ms;
}

#particle489 {
  background: #5600ff;
  transform: translateX(-289.49314px) translateY(-17.89016px) scale(0.00136);
  animation-delay: -1242ms;
}

#particle490 {
  background: #5700ff;
  transform: translateX(-216.19988px) translateY(188.75713px) scale(0.00231);
  animation-delay: -2062ms;
}

#particle491 {
  background: #6a04ff;
  transform: translateX(177.60563px) translateY(183.30936px) scale(0.02734);
  animation-delay: -1467ms;
}

#particle492 {
  background: #e720ff;
  transform: translateX(144.11331px) translateY(-97.31709px) scale(0.21018);
  animation-delay: -1296ms;
}

#particle493 {
  background: #5e02ff;
  transform: translateX(195.28756px) translateY(188.42767px) scale(0.01121);
  animation-delay: -16ms;
}

#particle494 {
  background: #a010ff;
  transform: translateX(-160.44649px) translateY(-140.19972px) scale(0.10181);
  animation-delay: -2355ms;
}

#particle495 {
  background: #950dff;
  transform: translateX(196.93972px) translateY(98.85096px) scale(0.0857);
  animation-delay: -1427ms;
}

#particle496 {
  background: #ff886b;
  transform: translateX(15.66279px) translateY(56.45141px) scale(0.69804);
  animation-delay: -992ms;
}

#particle497 {
  background: #ff40a8;
  transform: translateX(20.20235px) translateY(116.26313px) scale(0.4207);
  animation-delay: -415ms;
}

#particle498 {
  background: #6102ff;
  transform: translateX(-212.64413px) translateY(-161.51872px) scale(0.01486);
  animation-delay: -2285ms;
}

#particle499 {
  background: #5500ff;
  transform: translateX(84.10002px) translateY(285.76429px) scale(0.00006);
  animation-delay: -2266ms;
}

#particle500 {
  background: #ff5b69;
  transform: translateX(73.96828px) translateY(30.55104px) scale(0.59312);
  animation-delay: -2223ms;
}

#particle501 {
  background: #ff27fd;
  transform: translateX(-98.45858px) translateY(127.50177px) scale(0.25304);
  animation-delay: -1828ms;
}

#particle502 {
  background: #aa12ff;
  transform: translateX(-29.49124px) translateY(205.27425px) scale(0.1153);
  animation-delay: -465ms;
}

#particle503 {
  background: #8109ff;
  transform: translateX(196.74329px) translateY(-128.38142px) scale(0.05749);
  animation-delay: -1811ms;
}

#particle504 {
  background: #ff4990;
  transform: translateX(-88.89793px) translateY(54.74446px) scale(0.48017);
  animation-delay: -620ms;
}

#particle505 {
  background: #6a04ff;
  transform: translateX(-89.66282px) translateY(238.52231px) scale(0.02785);
  animation-delay: -1054ms;
}

#particle506 {
  background: #ff38c1;
  transform: translateX(74.8935px) translateY(-107.6604px) scale(0.36602);
  animation-delay: -1940ms;
}

#particle507 {
  background: #8f0cff;
  transform: translateX(149.19518px) translateY(-167.92259px) scale(0.07687);
  animation-delay: -238ms;
}

#particle508 {
  background: #ff2af1;
  transform: translateX(-33.02254px) translateY(-151.18423px) scale(0.27553);
  animation-delay: -1577ms;
}

#particle509 {
  background: #9d0fff;
  transform: translateX(168.18829px) translateY(133.78396px) scale(0.09762);
  animation-delay: -2044ms;
}

#particle510 {
  background: #5b01ff;
  transform: translateX(-216.82138px) translateY(170.10576px) scale(0.00816);
  animation-delay: -1580ms;
}

#particle511 {
  background: #5c01ff;
  transform: translateX(-0.55865px) translateY(274.42143px) scale(0.00895);
  animation-delay: -515ms;
}

#particle512 {
  background: #e11fff;
  transform: translateX(-9.42895px) translateY(176.88117px) scale(0.1999);
  animation-delay: -1139ms;
}

#particle513 {
  background: #ff33d2;
  transform: translateX(59.34362px) translateY(126.30313px) scale(0.33262);
  animation-delay: -463ms;
}

#particle514 {
  background: #ff4992;
  transform: translateX(-44.75719px) translateY(95.79104px) scale(0.47424);
  animation-delay: -89ms;
}

#particle515 {
  background: #ff4990;
  transform: translateX(90.53738px) translateY(52.25105px) scale(0.47959);
  animation-delay: -1168ms;
}

#particle516 {
  background: #ff926e;
  transform: translateX(-52.23796px) translateY(-15.26413px) scale(0.71889);
  animation-delay: -826ms;
}

#particle517 {
  background: #5d01ff;
  transform: translateX(135.4177px) translateY(-237.45757px) scale(0.00971);
  animation-delay: -919ms;
}

#particle518 {
  background: #6804ff;
  transform: translateX(-120.08358px) translateY(228.23555px) scale(0.0242);
  animation-delay: -1264ms;
}

#particle519 {
  background: #5600ff;
  transform: translateX(100.50838px) translateY(272.15549px) scale(0.00134);
  animation-delay: -334ms;
}

#particle520 {
  background: #6303ff;
  transform: translateX(46.58053px) translateY(-259.45735px) scale(0.0181);
  animation-delay: -2363ms;
}

#particle521 {
  background: #890bff;
  transform: translateX(-54.67916px) translateY(221.71341px) scale(0.06954);
  animation-delay: -2022ms;
}

#particle522 {
  background: #bb16ff;
  transform: translateX(-188.5102px) translateY(57.83258px) scale(0.14145);
  animation-delay: -777ms;
}

#particle523 {
  background: #a711ff;
  transform: translateX(-202.66204px) translateY(50.90022px) scale(0.11149);
  animation-delay: -84ms;
}

#particle524 {
  background: #6704ff;
  transform: translateX(-100.27297px) translateY(238.00537px) scale(0.02378);
  animation-delay: -1060ms;
}

#particle525 {
  background: #5700ff;
  transform: translateX(277.57827px) translateY(69.02117px) scale(0.00267);
  animation-delay: -549ms;
}

#particle526 {
  background: #db1dff;
  transform: translateX(-180.41277px) translateY(0.4761px) scale(0.18971);
  animation-delay: -1472ms;
}

#particle527 {
  background: #9f0fff;
  transform: translateX(156.96963px) translateY(145.12501px) scale(0.10019);
  animation-delay: -1230ms;
}

#particle528 {
  background: #c718ff;
  transform: translateX(79.30515px) translateY(173.33351px) scale(0.15958);
  animation-delay: -2281ms;
}

#particle529 {
  background: #9a0eff;
  transform: translateX(12.80599px) translateY(-216.87144px) scale(0.09241);
  animation-delay: -499ms;
}

#particle530 {
  background: #ff34d0;
  transform: translateX(-85.54111px) translateY(-108.68806px) scale(0.33746);
  animation-delay: -2289ms;
}

#particle531 {
  background: #ee22ff;
  transform: translateX(136.17713px) translateY(-102.3049px) scale(0.22179);
  animation-delay: -832ms;
}

#particle532 {
  background: #7206ff;
  transform: translateX(220.81113px) translateY(111.8613px) scale(0.0375);
  animation-delay: -1785ms;
}

#particle533 {
  background: #a811ff;
  transform: translateX(155.01253px) translateY(138.95318px) scale(0.11337);
  animation-delay: -1633ms;
}

#particle534 {
  background: #6403ff;
  transform: translateX(250.94525px) translateY(-74.98327px) scale(0.01982);
  animation-delay: -396ms;
}

#particle535 {
  background: #d61cff;
  transform: translateX(125.08726px) translateY(-133.18595px) scale(0.1827);
  animation-delay: -2222ms;
}

#particle536 {
  background: #6704ff;
  transform: translateX(113.37273px) translateY(-231.9018px) scale(0.02393);
  animation-delay: -2057ms;
}

#particle537 {
  background: #5801ff;
  transform: translateX(99.17424px) translateY(265.26596px) scale(0.00387);
  animation-delay: -138ms;
}

#particle538 {
  background: #e41fff;
  transform: translateX(149.62078px) translateY(-91.63472px) scale(0.20521);
  animation-delay: -1093ms;
}

#particle539 {
  background: #ff31d7;
  transform: translateX(-124.19733px) translateY(-69.20164px) scale(0.32245);
  animation-delay: -1987ms;
}

#particle540 {
  background: #5d02ff;
  transform: translateX(-138.43285px) translateY(-235.04011px) scale(0.01014);
  animation-delay: -1442ms;
}

#particle541 {
  background: #ff38c3;
  transform: translateX(15.08434px) translateY(-131.07942px) scale(0.3628);
  animation-delay: -1012ms;
}

#particle542 {
  background: #7005ff;
  transform: translateX(231.95538px) translateY(-91.70785px) scale(0.03486);
  animation-delay: -660ms;
}

#particle543 {
  background: #d61cff;
  transform: translateX(12.04377px) translateY(182.62129px) scale(0.1818);
  animation-delay: -582ms;
}

#particle544 {
  background: #6f05ff;
  transform: translateX(250.00254px) translateY(-1.17498px) scale(0.03407);
  animation-delay: -1338ms;
}

#particle545 {
  background: #ff517e;
  transform: translateX(-58.23452px) translateY(-73.8835px) scale(0.52711);
  animation-delay: -1681ms;
}

#particle546 {
  background: #7406ff;
  transform: translateX(199.3647px) translateY(143.75314px) scale(0.04002);
  animation-delay: -825ms;
}

#particle547 {
  background: #ff5574;
  transform: translateX(-6.29074px) translateY(87.71311px) scale(0.55565);
  animation-delay: -2327ms;
}

#particle548 {
  background: #5700ff;
  transform: translateX(-280.86279px) translateY(51.84009px) scale(0.00284);
  animation-delay: -1327ms;
}

#particle549 {
  background: #ca19ff;
  transform: translateX(117.21002px) translateY(-148.70326px) scale(0.16321);
  animation-delay: -12ms;
}

#particle550 {
  background: #a410ff;
  transform: translateX(-197.9249px) translateY(-72.11687px) scale(0.10744);
  animation-delay: -817ms;
}

#particle551 {
  background: #5a01ff;
  transform: translateX(253.21681px) translateY(116.98543px) scale(0.00608);
  animation-delay: -1840ms;
}

#particle552 {
  background: #ff29f6;
  transform: translateX(155.89135px) translateY(21.64325px) scale(0.26608);
  animation-delay: -1411ms;
}

#particle553 {
  background: #be16ff;
  transform: translateX(164.51666px) translateY(105.70785px) scale(0.14586);
  animation-delay: -2487ms;
}

#particle554 {
  background: #ff4d88;
  transform: translateX(-11.48313px) translateY(99.13848px) scale(0.5009);
  animation-delay: -2224ms;
}

#particle555 {
  background: #9a0eff;
  transform: translateX(206.47355px) translateY(67.20782px) scale(0.09266);
  animation-delay: -1184ms;
}

#particle556 {
  background: #5600ff;
  transform: translateX(185.98511px) translateY(-225.37616px) scale(0.00083);
  animation-delay: -1983ms;
}

#particle557 {
  background: #5500ff;
  transform: translateX(-279.14356px) translateY(-93.14883px) scale(0.00045);
  animation-delay: -1658ms;
}

#particle558 {
  background: #5600ff;
  transform: translateX(-276.20785px) translateY(96.48682px) scale(0.00076);
  animation-delay: -24ms;
}

#particle559 {
  background: #5801ff;
  transform: translateX(-59.61967px) translateY(-275.86843px) scale(0.00432);
  animation-delay: -1061ms;
}

#particle560 {
  background: #6403ff;
  transform: translateX(12.87871px) translateY(-261.73274px) scale(0.01968);
  animation-delay: -2116ms;
}

#particle561 {
  background: #ff8d6d;
  transform: translateX(-15.93681px) translateY(-54.04025px) scale(0.70926);
  animation-delay: -2486ms;
}

#particle562 {
  background: #ff5770;
  transform: translateX(42.99365px) translateY(-73.27926px) scale(0.56968);
  animation-delay: -2361ms;
}

#particle563 {
  background: #5600ff;
  transform: translateX(125.33401px) translateY(261.41145px) scale(0.0014);
  animation-delay: -975ms;
}

#particle564 {
  background: #5500ff;
  transform: translateX(167.51657px) translateY(247.19412px) scale(0.00003);
  animation-delay: -4ms;
}

#particle565 {
  background: #aa12ff;
  transform: translateX(193.59122px) translateY(73.86599px) scale(0.11573);
  animation-delay: -2145ms;
}

#particle566 {
  background: #5500ff;
  transform: translateX(266.68574px) translateY(-136.12176px) scale(0.0);
  animation-delay: -2320ms;
}

#particle567 {
  background: #5a01ff;
  transform: translateX(271.551px) translateY(-58.99921px) scale(0.0067);
  animation-delay: -408ms;
}

#particle568 {
  background: #ff3cb4;
  transform: translateX(98.1199px) translateY(76.38447px) scale(0.39396);
  animation-delay: -2367ms;
}

#particle569 {
  background: #7807ff;
  transform: translateX(235.84617px) translateY(55.60079px) scale(0.04527);
  animation-delay: -2481ms;
}

#particle570 {
  background: #6002ff;
  transform: translateX(-89.76455px) translateY(251.68996px) scale(0.01469);
  animation-delay: -2358ms;
}

#particle571 {
  background: #b915ff;
  transform: translateX(-190.50585px) translateY(-56.41044px) scale(0.13745);
  animation-delay: -1479ms;
}

#particle572 {
  background: #ff2ee4;
  transform: translateX(83.79504px) translateY(122.61006px) scale(0.29844);
  animation-delay: -751ms;
}

#particle573 {
  background: #6f05ff;
  transform: translateX(-159.68635px) translateY(193.12891px) scale(0.03327);
  animation-delay: -2040ms;
}

#particle574 {
  background: #b113ff;
  transform: translateX(44.82634px) translateY(198.17139px) scale(0.12577);
  animation-delay: -1711ms;
}

#particle575 {
  background: #ff2bed;
  transform: translateX(53.72726px) translateY(-143.42103px) scale(0.28131);
  animation-delay: -1432ms;
}

#particle576 {
  background: #6a04ff;
  transform: translateX(-244.38622px) translateY(-72.95484px) scale(0.02758);
  animation-delay: -376ms;
}

#particle577 {
  background: #ff30db;
  transform: translateX(-142.67921px) translateY(-18.12386px) scale(0.31612);
  animation-delay: -900ms;
}

#particle578 {
  background: #5d02ff;
  transform: translateX(-20.00297px) translateY(-271.65645px) scale(0.01043);
  animation-delay: -243ms;
}

#particle579 {
  background: #5500ff;
  transform: translateX(-82.79738px) translateY(-286.62317px) scale(0.00004);
  animation-delay: -2215ms;
}

#particle580 {
  background: #e31fff;
  transform: translateX(71.91583px) translateY(160.51935px) scale(0.20381);
  animation-delay: -391ms;
}

#particle581 {
  background: #bc16ff;
  transform: translateX(-176.52728px) translateY(86.64217px) scale(0.14289);
  animation-delay: -16ms;
}

#particle582 {
  background: #8009ff;
  transform: translateX(-224.61025px) translateY(69.62937px) scale(0.05709);
  animation-delay: -891ms;
}

#particle583 {
  background: #8e0cff;
  transform: translateX(-75.72105px) translateY(-211.82125px) scale(0.07622);
  animation-delay: -331ms;
}

#particle584 {
  background: #6102ff;
  transform: translateX(246.52924px) translateY(99.5104px) scale(0.01594);
  animation-delay: -1103ms;
}

#particle585 {
  background: #f825ff;
  transform: translateX(121.69887px) translateY(-111.80158px) scale(0.23872);
  animation-delay: -682ms;
}

#particle586 {
  background: #de1eff;
  transform: translateX(177.13683px) translateY(-23.79585px) scale(0.19492);
  animation-delay: -178ms;
}

#particle587 {
  background: #ff5b68;
  transform: translateX(-34.27508px) translateY(71.59891px) scale(0.59623);
  animation-delay: -1376ms;
}

#particle588 {
  background: #ff34cd;
  transform: translateX(-19.07648px) translateY(-135.84904px) scale(0.34191);
  animation-delay: -855ms;
}

#particle589 {
  background: #9c0fff;
  transform: translateX(27.91798px) translateY(-214.3192px) scale(0.09488);
  animation-delay: -369ms;
}

#particle590 {
  background: #ff586e;
  transform: translateX(-53.19336px) translateY(-64.82045px) scale(0.57492);
  animation-delay: -43ms;
}

#particle591 {
  background: #a711ff;
  transform: translateX(208.39317px) translateY(-14.09063px) scale(0.1117);
  animation-delay: -2479ms;
}

#particle592 {
  background: #ff37c4;
  transform: translateX(127.48134px) translateY(-35.56206px) scale(0.36117);
  animation-delay: -160ms;
}

#particle593 {
  background: #6f05ff;
  transform: translateX(223.13351px) translateY(112.84055px) scale(0.03402);
  animation-delay: -1440ms;
}

#particle594 {
  background: #6904ff;
  transform: translateX(-176.20835px) translateY(186.52647px) scale(0.02571);
  animation-delay: -1039ms;
}

#particle595 {
  background: #6603ff;
  transform: translateX(-225.75641px) translateY(-129.01557px) scale(0.02183);
  animation-delay: -398ms;
}

#particle596 {
  background: #5801ff;
  transform: translateX(-79.82452px) translateY(272.97715px) scale(0.00333);
  animation-delay: -1390ms;
}

#particle597 {
  background: #c217ff;
  transform: translateX(24.34552px) translateY(-191.90006px) scale(0.15166);
  animation-delay: -239ms;
}

#particle598 {
  background: #ff5a6a;
  transform: translateX(74.02666px) translateY(-31.95802px) scale(0.59025);
  animation-delay: -2134ms;
}

#particle599 {
  background: #ff6661;
  transform: translateX(33.32951px) translateY(-62.97623px) scale(0.63552);
  animation-delay: -2004ms;
}

#particle600 {
  background: #5901ff;
  transform: translateX(85.7184px) translateY(-266.53526px) scale(0.00549);
  animation-delay: -1250ms;
}

@keyframes doit {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0.1);
  }
}
