@import url(http://fonts.googleapis.com/css?family=Roboto:100);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
  -moz-perspective: 1px;
  -webkit-perspective: 1px;
  perspective: 1px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body, body * {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container {
  padding: 10%;
  max-width: 40em;
  margin: auto;
}
.container :nth-child(1) {
  -moz-transform: translateZ(-0.4px) scale(1.4);
  -ms-transform: translateZ(-0.4px) scale(1.4);
  -webkit-transform: translateZ(-0.4px) scale(1.4);
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 200px;
  left: 200px;
}
.container :nth-child(2) {
  -moz-transform: translateZ(0.2px) scale(0.8);
  -ms-transform: translateZ(0.2px) scale(0.8);
  -webkit-transform: translateZ(0.2px) scale(0.8);
  transform: translateZ(0.2px) scale(0.8);
  z-index: 200;
  top: 200px;
  left: 500px;
}
.container :nth-child(3) {
  -moz-transform: translateZ(0.3px) scale(0.7);
  -ms-transform: translateZ(0.3px) scale(0.7);
  -webkit-transform: translateZ(0.3px) scale(0.7);
  transform: translateZ(0.3px) scale(0.7);
  z-index: 300;
  top: 400px;
  left: 600px;
}
.container :nth-child(4) {
  -moz-transform: translateZ(0.1px) scale(0.9);
  -ms-transform: translateZ(0.1px) scale(0.9);
  -webkit-transform: translateZ(0.1px) scale(0.9);
  transform: translateZ(0.1px) scale(0.9);
  z-index: 100;
  top: 500px;
  left: 500px;
}
.container :nth-child(5) {
  -moz-transform: translateZ(-2px) scale(3);
  -ms-transform: translateZ(-2px) scale(3);
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  top: 2000px;
  left: 2000px;
}
.container :nth-child(6) {
  -moz-transform: translateZ(0.4px) scale(0.6);
  -ms-transform: translateZ(0.4px) scale(0.6);
  -webkit-transform: translateZ(0.4px) scale(0.6);
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 600px;
  left: 300px;
}
.container :nth-child(7) {
  -moz-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 400px;
  left: 1000px;
}
.container :nth-child(8) {
  -moz-transform: translateZ(-0.4px) scale(1.4);
  -ms-transform: translateZ(-0.4px) scale(1.4);
  -webkit-transform: translateZ(-0.4px) scale(1.4);
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 100px;
  left: 1400px;
}
.container :nth-child(9) {
  -moz-transform: translateZ(0.4px) scale(0.6);
  -ms-transform: translateZ(0.4px) scale(0.6);
  -webkit-transform: translateZ(0.4px) scale(0.6);
  transform: translateZ(0.4px) scale(0.6);
  z-index: 400;
  top: 900px;
  left: 500px;
}
.container :nth-child(10) {
  -moz-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  top: 1600px;
  left: 100px;
}
.container > * {
  position: absolute;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background: #EEF1F3;
  line-height: 1;
}

h1, h2 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 5em;
  color: #1586D1;
}

h2 {
  font-size: 3em;
  -moz-transform: translateZ(0.2px) scale(0.8);
  -ms-transform: translateZ(0.2px) scale(0.8);
  -webkit-transform: translateZ(0.2px) scale(0.8);
  transform: translateZ(0.2px) scale(0.8);
  z-index: 200;
}
