@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

$red: #dd5555
$gray: #7d7d7d
$alt: #882222
$classes: home gallery message music search settings location
$i: 0

=bg-positions
  @each $icon in $classes
    a
      &:hover
        color: $red
        .i-#{$icon}
          background-position: -#{$i}px -30px
          
    a .i-#{$icon}
      background-position: -#{$i}px 0
      
      
    $i: $i+30

input 
  outline: none  
  
%section
  background: #fff
  border-radius: 4px
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2)
  
%button
  height: 40px
  line-height: 40px
  color: #fff
  background: $red
  padding: 0 45px
  border-radius: 3px
  border: none
  outline: none
  
  &:hover
    background: $alt
  
body 
  min-width: 1130px
  background: #ebebeb
  font-family: "Montserrat", sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  margin: 0 100px 100px 100px
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed
  
  .wrapper
    width: 1130px
    margin: 0 auto
    display: inline-block
    
    &:after
      content: " "
      display: block
      clear: both
      visibility: hidden
      line-height: 0
      height: 0
  
  > header
    text-align: center
    padding: 45px 0
    
    h2
      font-size: 18px
      color: #a1a0a0
      color: #a1a0a0
      text-shadow: 0 1px 1px rgba(255,255,255,.5)
      text-transform: uppercase
    
    p
      color: #a1a1a1
    
  aside
    width: 260px
    float: left
    
    .address
      height: 400px
      background: #fff
      @extend %section
      text-align: center
      margin-bottom: 51px
      
      img
        width: 200px
        border-radius: 50%
        margin-top: 30px
        
      h3
        font-size: 18px
        color: $red
        margin-bottom: 15px
        
      p
        color: $gray
        font-weight: normal
        margin-top: 0
        margin-bottom: 28px
        
      button
        @extend %button
          
    .calendar
      height: 250px
      @extend %section
      background: $red
      border-top: 1px solid #fff
      
        
      header
        height: 80px
        background: #fff
        border-radius: 4px 4px 0 0
        margin-top: -1px
        text-align: center
        
        h3
          margin: 0
          padding-top: 20px
          color: $red
          
        p
          margin-top: 10px
          font-size: 13px
          color: $gray
          display: inline-block
          font-weight: normal
        
        a
          width: 7px
          height: 11px
          display: inline-block
          background: url(//i1284.photobucket.com/albums/a574/meecrobe/arrows_zps7863336b.png) no-repeat
          position: relative
          top: 1px
          
        .l-arr
          background-position: 0 center
          right: 8px
          
        .r-arr 
          background-position: 100% center
          left: 8px
      
      .date
        margin: 32px
            
        table
          width: 100%
          margin: 0 auto
          
          td
            text-align: center
            color: #fff
            padding-bottom: 5px
            
          td.alt
            color: $alt
            
          td.today
            text-decoration: underline
       
  main
    width: 820px
    float: left
 
    .menu
      width: 670px
      height: 50px
      @extend %section
      margin-left: 50px
      padding: 20px 50px 10px
      text-align: center
      
      
      nav
        
        ul
          list-style: none
          margin: 0
          padding: 0
          text-align: justify
          height: 40px
          
          &:after
            content: ""
            display: inline-block
            width: 100%
          
        li
          height: 100%
          display: inline-block
          margin: 0
          padding: 0
          
          +bg-positions
          
          a
            height: 100%
            text-decoration: none
            color: #ccc
            
            i
              display: block
              width: 30px
              height: 30px
              position: relative
              left: 50%
              margin-left: -15px
              background: url(//i1284.photobucket.com/albums/a574/meecrobe/menu-ico_zps088a6ff8.png) no-repeat
              
    .video-player
      width: 260px
      height: 175px
      @extend %section
      margin: 50px 0 0 50px
      text-align: center
      position: relative
      background: url(//i1284.photobucket.com/albums/a574/meecrobe/video_zps5bab07fb.jpg) center center no-repeat
      background-size: cover
      float: left
      
      button
        width: 50px
        height: 50px
        background: rgba(255,255,255,.5)
        border: 3px solid #fff
        border-radius: 50%
        position: absolute
        top: 50%
        left: 50%
        margin-top: -25px
        margin-left: -25px
        outline: none
        
        &:before
          content: ''
          display: block
          width: 0
          height: 0
          border-style: solid
          border-width: 8px 0 8px 16px
          border-color: transparent transparent transparent #fff
          position: relative
          left: 9px
    
    .weather
      @extend .video-player
      background: $red
      text-align: center
      overflow: hidden
      float: left
      
      .temp
        height: 125px
        
      h3
        background: #fff
        line-height: 50px
        margin-top: 0
        font-size: 14px
        color: $red 
        display: block
        
      p
        font-size: 60px
        line-height: 125px
        margin: 0
        color: #fff
        
        span
          width: 55px
          height: 55px
          display: inline-block
          background: url(//i1284.photobucket.com/albums/a574/meecrobe/weather-icon_zps4655642d.png) center 7px no-repeat
          margin-left: 10px       

    .info-box
      width: 460px
      height: 400px
      @extend %section
      float: right
      margin: 50px 0 0 50px
      overflow: hidden
      
      .hero
        width: 460px
        height: 270px
        overflow: hidden
        
        img
          width: 460px
      
      h3
        margin: 15px 25px 15px 25px
        padding: 0
        color: $red
        
      p
        margin: 0 25px
        font-size: 13px
        color: $gray
        padding: 0
    
    .audio-player
      width: 440px
      height: 120px
      @extend %section
      display: inline-block
      margin: 50px 0 0 50px
      float: left
      overflow: hidden
      padding-right: 20px
      
      .cover
        width: 120px
        height: 120px
        background: url(//i1284.photobucket.com/albums/a574/meecrobe/cover_zpsb58f3a53.jpg) center center no-repeat
        background-size: cover
        float: left
        margin-right: 20px
        
      h3
        color: $red
        margin: 20px 0 8px 0
      
      p
        color: $gray
        margin: 0 0 5px 0
        
      .controls
        
        button
          width: 30px
          height: 30px
          border-radius: 2px
          background: #cbcbcb url(//i1284.photobucket.com/albums/a574/meecrobe/player-btn_zps4004039f.png) center center no-repeat
          border: none
          float: left
          display: inline-block
          outline: none
          margin-right: 0
          position: relative
          
          &:hover
            background-color: $red
            
        .next
          left: 40px
          background-position: center -46px

        .prev
          left: 20px
          background-position: center 10px         
          
        .play
          left: 30px
          background-color: $red

        .popup
          color: #fff
          border-radius: 2px
          background: $red
          font-size: 13px
          padding: 3px 5px
          position: relative
          bottom: 2px
          left: -192px
          display: inline-block
          
          &:after
            content: ""
            display: block
            position: absolute
            width: 0
            height: 0
            border-style: solid
            border-width: 6px 3px 0px 3px
            border-color: $red transparent transparent transparent 
            left: 13px
          
        .progress
          width: 170px
          height: 4px
          border-radius: 2px
          background: #cbcbcb
          float: left
          margin-top: 25px
          overflow: hidden
          
          &:after
            content: ""
            display: block
            width: 50%
            height: 4px
            background: $red
            border-radius: 2px
        
    .search
      width: 220px
      height: 80px
      @extend %section
      display: inline-block
      margin: 50px 0 0 50px
      text-align: center
      padding: 20px
      
      form
        height: 80px
      
      input[type="search"]
        width: 210px
        height: 30px
        background: #ebebeb
        border: 1px solid #cfcfcf
        border-radius: 2px
        padding-left: 9px
        font-size: 12px
        color: #7b7b7b
        
      input[type="checkbox"]
        display: none
        
      button
        @extend %button
        height: 30px
        line-height: 30px
        padding: 0 20px
        float: right
        margin-top: 20px
        margin-right: -1px
        
      label
        font-size: 11px
        color: #ccc
        position: relative
        border-radius: 3px
        left: 5px
        top: 21px
        float: left
        
        span

          display: inline-block
          width: 17px
          height: 17px
          background: #ebebeb
          border: 1px solid #cfcfcf
          position: relative
          top: 5px
          right: 6px
        span.checked
          background: #ebebeb url(//i1284.photobucket.com/albums/a574/meecrobe/check_zpsf8f08915.png) center center no-repeat
      
        
        
        
        