body {
  background: black;
  font-family: 'Varela', sans-serif;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(79px, 9999px, 46px, 0);
  }
  5% {
    clip: rect(89px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 52px, 0);
  }
  15.0% {
    clip: rect(64px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 22px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 40px, 0);
  }
  30.0% {
    clip: rect(61px, 9999px, 30px, 0);
  }
  35% {
    clip: rect(39px, 9999px, 81px, 0);
  }
  40% {
    clip: rect(89px, 9999px, 73px, 0);
  }
  45% {
    clip: rect(19px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(23px, 9999px, 66px, 0);
  }
  55.0% {
    clip: rect(58px, 9999px, 32px, 0);
  }
  60.0% {
    clip: rect(20px, 9999px, 8px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 61px, 0);
  }
  75% {
    clip: rect(11px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(33px, 9999px, 99px, 0);
  }
  85.0% {
    clip: rect(19px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(65px, 9999px, 78px, 0);
  }
  95% {
    clip: rect(64px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 73px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(64px, 9999px, 66px, 0);
  }
  5% {
    clip: rect(48px, 9999px, 67px, 0);
  }
  10% {
    clip: rect(89px, 9999px, 3px, 0);
  }
  15.0% {
    clip: rect(13px, 9999px, 50px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 84px, 0);
  }
  25% {
    clip: rect(20px, 9999px, 88px, 0);
  }
  30.0% {
    clip: rect(98px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(23px, 9999px, 87px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  45% {
    clip: rect(33px, 9999px, 91px, 0);
  }
  50% {
    clip: rect(42px, 9999px, 57px, 0);
  }
  55.0% {
    clip: rect(49px, 9999px, 43px, 0);
  }
  60.0% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  65% {
    clip: rect(24px, 9999px, 14px, 0);
  }
  70% {
    clip: rect(90px, 9999px, 17px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 2px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 57px, 0);
  }
  85.0% {
    clip: rect(73px, 9999px, 15px, 0);
  }
  90% {
    clip: rect(37px, 9999px, 66px, 0);
  }
  95% {
    clip: rect(19px, 9999px, 30px, 0);
  }
  100% {
    clip: rect(57px, 9999px, 14px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
