<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Flippin' Countdown</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

  <div class="count"></div>

<script id="count-template" type="text/template">
 <span class="current top <%= currentSize %>"><%= time %></span>
 <span class="next top <%= nextSize %>"><%= nextTime %></span>
 <span class="current bottom <%= currentSize %>"><%= time %></span>
 <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
</script>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>

  <script src="js/index.js"></script>

</body>

</html>